<img width="100%" src="/assets/headerimage/New-sliderContact--copy.png" alt="">

<!-- design gallery pages  -->
<br> <br>
<div class="container"> <br>
    <br>
    <div class="row">
        <br> <br>

        <div class="col-md-4 ">
            <div class="card" (click)="scroll()" [routerLink]="['/gallery/Visitor']">
                <img src="/assets/gallery/indepenceday/IMG-20250311-WA0048.jpg" alt="">
                <div class="overlay">
                    <div class="text"><b>Our Visitor</b></div>
                </div>
            </div>
            <br>
        </div>

        <div class="col-md-4 ">
            <div class="card" (click)="scroll()" [routerLink]="['/gallery/Inaugation']">
                <img src="/assets/gallery/ethon/DSC_0198.jpg" alt="">

                <div class="overlay">
                    <div class="text"><b>Inauguration</b></div>
                </div>
            </div>
            <br>
        </div>

        <div class="col-md-4 ">
            <div class="card" (click)="scroll()" [routerLink]="['/gallery/annual']">
                <img src="/assets/gallery/annual/DSC_5668.jpg" alt="">

                <div class="overlay">
                    <div class="text"><b>Annual Function </b></div>
                </div>
            </div>
            <br>
        </div>

        <div class="col-md-4 ">
            <div class="card" (click)="scroll()" [routerLink]="['/gallery/breakfast']">
                <img src="/assets/gallery/lunch/20230812_080951_01.jpg" alt="">

                <div class="overlay">
                    <div class="text"><b>BreakFast And Lunch</b></div>
                </div>
            </div>
            <br>
        </div>

        <div class="col-md-4 ">
            <div class="card" (click)="scroll()" [routerLink]="['/gallery/sports']">
                <img src="/assets/gallery/sports/Sport Acticity_01.jpg" alt="">

                <div class="overlay2">
                    <div class="text"><b>Sports Activity</b></div>
                </div>
            </div> <br>
        </div>

        <div class="col-md-4">
            <div class="card" (click)="scroll()" [routerLink]="['/gallery/otheractivities']">
                <img class="img" src="/assets/dailyreports/DSC_5767.JPG" alt="">

                <div class="overlay">
                    <div class="text"><b>Other Activities</b></div>
                </div>
            </div> <br>
        </div>

        <div class="col-md-4">
            <div class="card" (click)="scroll()" [routerLink]="['/gallery/pabal']">
                <img class="image" src="/assets/gallery/pabal/WhatsApp Image 2023-08-25 at 2.02.27 PM.jpeg" alt="">

                <div class="overlay2">
                    <div class="text"><b>Pabal </b></div>
                </div>
            </div> <br>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="scroll()" [routerLink]="['/gallery/skill']">
                <img src="/assets/dailyreports/DSC_1112.JPG" alt="">
                <div class="overlay">
                    <div class="text"><b>Skills</b></div>
                </div>
            </div> <br>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="scroll()" [routerLink]="['/gallery/Video']">
                <!-- <img src="/assets/dailyreports/DSC_1112.JPG" alt=""> -->
                    <video controls loop onloadedmetadata="this.muted = true">
                            <source src="/assets/gallery/video/SPortsday.mp4" type="video/mp4">
                        </video>
                <div class="overlay">
                    <div class="text"><b>Video</b></div>
                </div>
            </div> <br>
        </div>
    </div> <br>

</div>

<br><br>