<div class="container">
    <h1 class="text-center">Other Activities</h1>
    <br><br>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="ul">
                    <li [routerLink]="['/gallery/Inaugation']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/ethon/DSC_0198.jpg " alt=""><br> Inauguration 
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/indepenceday']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/indepenceday/IMG-20250311-WA0176.jpg" alt=""><br> Visitor
                    </li>
                    <!-- <li [routerLink]="['/gallery/indepenceday']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/indepenceday/10.jpg"  alt=""><br> Independence Day
                    </li> -->
                    <br>
                    <li [routerLink]="['/gallery/annual']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/annual/DSC_5533.jpg" alt=""><br> Annual Function
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/breakfast']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/lunch/20230812_080951_01.jpg " alt=""><br> Breakfast and Lunch
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/sports']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/sports/Sport Acticity_01.jpg " alt=""><br> Sports Activities
                    </li>
                    <br>

                    <br>
                    <li [routerLink]="['/gallery/skill']" class="animate__animated  animate__fadeInLeft">
                        <img src="/assets/dailyreports/DSC_1112.JPG" alt=""><br> Skills
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/pabal']" class="animate__animated animate__fadeInLeft">
                        <img src="/assets/gallery/pabal/WhatsApp Image 2023-08-25 at 2.02.27 PM.jpeg" alt=""><br> Pabal
                    </li>
                </ul>
            </div>

            <div class="col-md-9">
                <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">

                    <a href="/assets/gallery/reunion/DSC_5353.JPG">
                        <img src="/assets/gallery/reunion/DSC_5353.JPG" alt="">
                    </a>
                    <a href="/assets/gallery/reunion/DSC_5366.JPG">
                        <img src="/assets/gallery/reunion/DSC_5366.JPG" alt="">
                    </a>
                    <a href="/assets/gallery/reunion/DSC_5369.JPG">
                        <img src="/assets/gallery/reunion/DSC_5369.JPG" alt="">
                    </a>
                 
                    <a href="/assets/gallery/reunion/DSC_5411.JPG">
                        <img src="/assets/gallery/reunion/DSC_5411.JPG" alt="">
                    </a>
                    <a href="/assets/gallery/reunion/DSC_5402.JPG">
                        <img src="/assets/gallery/reunion/DSC_5402.JPG" alt="">
                    </a>
                    <a href="/assets/gallery/reunion/DSC_5384.JPG">
                        <img src="/assets/gallery/reunion/DSC_5384.JPG" alt="">
                    </a>

                    <a href="/assets/gallery/otheractivities/_DSC3257.JPG">
                        <img src="/assets/gallery/otheractivities/_DSC3257.JPG" alt="">
                    </a>

                    <a href="/assets/gallery/otheractivities/_DSC3168.JPG">
                        <img src="/assets/gallery/otheractivities/_DSC3168.JPG" alt="">
                    </a>

                    <a href="/assets/gallery/otheractivities/_DSC3173.JPG">
                        <img src="/assets/gallery/otheractivities/_DSC3173.JPG" alt="">
                    </a>

                    <a href="/assets/gallery/otheractivities/_DSC3443.JPG">
                        <img src="/assets/gallery/otheractivities/_DSC3443.JPG" alt="">
                    </a>

                    <a href="/assets/gallery/otheractivities/_DSC3448.JPG">
                        <img src="/assets/gallery/otheractivities/_DSC3448.JPG" alt="">
                    </a>

                    <a href="/assets/gallery/otheractivities/_DSC3504.JPG">
                        <img src="/assets/gallery/otheractivities/_DSC3504.JPG" alt="">
                    </a>

                    <a href="/assets/gallery/otheractivities/DSC08319.JPG">
                        <img src="/assets/gallery/otheractivities/DSC08319.JPG" alt="">
                    </a>

                    <a href="/assets/gallery/otheractivities/IMG_20190904_165458.jpg">
                        <img src="/assets/gallery/otheractivities/IMG_20190904_165458.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/otheractivities/IMG_20190904_170735.jpg">
                        <img src="/assets/gallery/otheractivities/IMG_20190904_170735.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/otheractivities/IMG_20190908_151927.jpg">
                        <img src="/assets/gallery/otheractivities/IMG_20190908_151927.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/otheractivities/WhatsApp Image 2024-03-18 at 03.15.35.jpeg">
                        <img src="/assets/gallery/otheractivities/WhatsApp Image 2024-03-18 at 03.15.35.jpeg" alt="">
                    </a>

                    <a href="/assets/gallery/otheractivities/WhatsApp Image 2024-03-18 at 03.15.37 (1).jpeg">
                        <img src="/assets/gallery/otheractivities/WhatsApp Image 2024-03-18 at 03.15.37 (1).jpeg"
                            alt="">
                    </a>

                    <a href="/assets/gallery/otheractivities/WhatsApp Image 2024-03-18 at 03.15.40 (2).jpeg">
                        <img src="/assets/gallery/otheractivities/WhatsApp Image 2024-03-18 at 03.15.40 (2).jpeg"
                            alt="">
                    </a>

                    <a href="/assets/gallery/otheractivities/WhatsApp Image 2024-03-18 at 03.15.51.jpeg">
                        <img src="/assets/gallery/otheractivities/WhatsApp Image 2024-03-18 at 03.15.51.jpeg" alt="">
                    </a>

                    <a href="/assets/gallery/otheractivities/DSC_1225.JPG">
                        <img src="/assets/gallery/otheractivities/DSC_1225.JPG" alt="">
                    </a>

                    <a href="/assets/gallery/otheractivities/DSC_1226.JPG">
                        <img src="/assets/gallery/otheractivities/DSC_1226.JPG" alt="">
                    </a>

                    <a href="/assets/gallery/otheractivities/DSC_1228.JPG">
                        <img src="/assets/gallery/otheractivities/DSC_1228.JPG" alt="">
                    </a>

                    <a href="/assets/gallery/otheractivities/DSC_5767.JPG">
                        <img src="/assets/gallery/otheractivities/DSC_5767.JPG" alt="">
                    </a>

                    <a href="/assets/gallery/otheractivities/DSC_5777.JPG">
                        <img src="/assets/gallery/otheractivities/DSC_5777.JPG" alt="">
                    </a>

                    <a href="/assets/gallery/otheractivities/DSC_5796.JPG">
                        <img src="/assets/gallery/otheractivities/DSC_5796.JPG" alt="">
                    </a>

                    <a href="/assets/gallery/otheractivities/DSC_5802.JPG">
                        <img src="/assets/gallery/otheractivities/DSC_5802.JPG" alt="">
                    </a>

                    <a href="/assets/gallery/otheractivities/DSC_5814.JPG">
                        <img src="/assets/gallery/otheractivities/DSC_5814.JPG" alt="">
                    </a>


                </lightgallery>
            </div>
        </div>
    </div>
</div>
<br><br>