<div class="container">
    <h1 class="text-center">Sports Activities</h1>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="ul">
                    <li [routerLink]="['/gallery/Inaugation']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/ethon/DSC_0198.jpg " alt=""><br> Inauguration
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/Visitor']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/indepenceday/IMG-20250311-WA0176.jpg" alt=""><br> Visitor
                    </li>
                    <!-- <li [routerLink]="['/gallery/indepenceday']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/indepenceday/10.jpg" alt=""><br> Independence Day
                    </li> -->
                    <br>
                    <li [routerLink]="['/gallery/annual']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/annual/DSC_5533.jpg" alt=""><br> Annual Function
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/breakfast']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/lunch/20230812_080951_01.jpg " alt=""><br> Breakfast and Lunch
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/otheractivities']" class="animate__animated  animate__fadeInLeft">
                        <img src="/assets/dailyreports/DSC_5767.JPG" alt=""><br> Other Activities
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/skill']" class="animate__animated  animate__fadeInLeft">
                        <img src="/assets/dailyreports/DSC_1112.JPG" alt=""><br> Skills
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/pabal']" class="animate__animated animate__fadeInLeft">
                        <img src="/assets/gallery/pabal/WhatsApp Image 2023-08-25 at 2.02.27 PM.jpeg" alt=""><br> Pabal
                    </li>
                </ul>
            </div>

            <!--   <div class="col-md-9" *ngFor="let g of Gallerys, let i=index">
            <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">

                <a [href]="g.Gimage">
                    <img [src]="g.Gimage" alt="">
                </a>
            </lightgallery>
             </div> -->

            <div class="col-md-9">
                <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">

                    <a href="/assets/gallery/sports/Sport Acticity_01.jpg">
                        <img src="/assets/gallery/sports/Sport Acticity_01.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/sports/Sport Activity_02.jpg">
                        <img src="/assets/gallery/sports/Sport Activity_02.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/sports/Sport Activity_03.jpg">
                        <img src="/assets/gallery/sports/Sport Activity_03.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/sports/Sport Activity_04.jpg">
                        <img src="/assets/gallery/sports/Sport Activity_04.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/sports/Sport Activity_05.jpg">
                        <img src="/assets/gallery/sports/Sport Activity_05.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/sports/008.jpg">
                        <img src="/assets/gallery/sports/008.jpg" alt="">
                    </a>


                    <a href="/assets/gallery/sports/WhatsApp Image 2024-03-18 at 03.15.34 (2).jpeg">
                        <img src="/assets/gallery/sports/WhatsApp Image 2024-03-18 at 03.15.34 (2).jpeg" alt="">
                    </a>


                    <a href="/assets/gallery/sports/WhatsApp Image 2024-03-18 at 03.15.40.jpeg">
                        <img src="/assets/gallery/sports/WhatsApp Image 2024-03-18 at 03.15.40.jpeg" alt="">
                    </a>

                    <a href="/assets/gallery/sports/WhatsApp Image 2024-03-18 at 03.15.43.jpeg">
                        <img src="/assets/gallery/sports/WhatsApp Image 2024-03-18 at 03.15.43.jpeg" alt="">
                    </a>


                </lightgallery>
            </div>

        </div>
    </div>
</div>
<br><br>