<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="ratio ratio-16x9">
                        <video controls loop onloadedmetadata="this.muted = true">
                            <source src="/assets/gallery/video/exibition.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="ratio ratio-16x9">
                        <video controls loop onloadedmetadata="this.muted = true">
                            <source src="/assets/gallery/video/exibition2.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="ratio ratio-16x9">
                        <video controls loop onloadedmetadata="this.muted = true">
                            <source src="/assets/gallery/video/Mathsdaystudent.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="ratio ratio-16x9">
                        <video controls loop onloadedmetadata="this.muted = true">
                            <source src="/assets/gallery/video/Mathsdaystudent2.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="ratio ratio-16x9">
                        <video controls loop onloadedmetadata="this.muted = true">
                            <source src="/assets/gallery/video/mathsday.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="ratio ratio-16x9">
                        <video controls loop onloadedmetadata="this.muted = true">
                            <source src="/assets/gallery/video/SPortsday.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="ratio ratio-16x9">
                        <video controls loop onloadedmetadata="this.muted = true">
                            <source src="/assets/gallery/pabal/video/Prabhatpheri.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="ratio ratio-16x9">
                        <video controls loop onloadedmetadata="this.muted = true">
                            <source src="/assets/gallery/video/yoga.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <br>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="ratio ratio-16x9">
                        <video controls loop onloadedmetadata="this.muted = true">
                            <source src="/assets/gallery/video/.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="ratio ratio-16x9">
                        <video controls loop onloadedmetadata="this.muted = true">
                            <source src="/assets/gallery/video/20230814_125813.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
