<!-- <div class="main">
    <h1>Helping Hand </h1>
</div> -->

<img width="100%" src="/assets/headerimage/Helping Hand.jpg" alt="">
<br>
<div class="container">
<br>
    <div class="row">
        <h2>Craft</h2>
        <div class="col-md-4">
            <div class="card bg-image hover-zoom">
                <img src="/assets/gallery/Recycle thinks.jpg" alt="">
            </div>
        </div>
    </div>
    <br><br>

    <div class="row">
        <h2>Other Activities</h2>
        <div class="col-md-4">
            <div class="card bg-image hover-zoom">
                <img src="/assets/gallery/pabal/008.jpg" alt="">
            </div>
            <h5>Gaming</h5> <br>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card bg-image hover-zoom">
                <img src="/assets/gallery/painting.jpg" alt="">
            </div>
            <h5>Painting</h5><br>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card bg-image hover-zoom">
                <img src="/assets/gallery/health/20211224_114205.jpg" alt="">
            </div>
            <h5>Medical Camp</h5> <br>
        </div>
    </div>
    <br><br>


    <div class="row">
        <h2> Offer Us Free Courses</h2>
        <div class="col-md-4">
            <img src="/assets/Rectangle 33.png" alt="">
            <br>
            <h5>Computer</h5>
        </div>
        <div class="col-md-4">
            <img src="/assets/Rectangle 34.png" alt="">
            <br>
            <h5>Music</h5>
        </div>
        <div class="col-md-4">
            <img src="/assets/Rectangle 35.png" alt="">
            <br>
            <h5>Cooking</h5>
        </div>
    </div>

    <br>
    <br>

    <div class="row">
        <h2>Offer Us Job Placement</h2>
        <div class="col-md-4">
            <img src="/assets/Rectangle 36.png" alt="">
            <br>
            <h5>IT Company</h5><br>
        </div><br>
        <div class="col-md-4">
            <img src="/assets/Rectangle 37.png" alt="">
            <br>
            <h5>Banking</h5><br>
        </div><br>
        <div class="col-md-4">
            <img src="/assets/Rectangle 38.png" alt="">
            <br>
            <h5>Data Entry</h5><br>
        </div><br>
        <div class="col-md-4">
            <img src="/assets/Rectangle 39.png" alt="">
            <br>
            <h5>Back Office</h5><br>
        </div><br>
        <div class="col-md-4">
            <img src="/assets/Rectangle 41.png" alt="">
            <br>
            <h5>Industry</h5><br>
        </div><br>
    </div>
    <br>
</div>
<br>