<div class="container">
    <h1 class="text-center">Annual Function</h1>
    <br><br>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="ul">
                    <li [routerLink]="['/gallery/Inaugation']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/ethon/DSC_0198.jpg " alt=""><br> Inauguration 
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/indepenceday']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/indepenceday/IMG-20250311-WA0176.jpg" alt=""><br> Visitor
                    </li>
                    <!-- <li [routerLink]="['/gallery/indepenceday']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/indepenceday/10.jpg" alt=""><br> Independence Day
                    </li> -->
                    <li [routerLink]="['/gallery/breakfast']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/lunch/20230812_080951_01.jpg " alt=""><br> Breakfast and Lunch
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/sports']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/sports/Sport Acticity_01.jpg " alt=""><br> Sports Activities
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/otheractivities']" class="animate__animated  animate__fadeInLeft">
                        <img src="/assets/dailyreports/DSC_5767.JPG" alt=""><br> Other Activities
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/skill']" class="animate__animated  animate__fadeInLeft">
                        <img src="/assets/dailyreports/DSC_1112.JPG" alt=""><br> Skills
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/pabal']" class="animate__animated animate__fadeInLeft">
                        <img src="/assets/gallery/pabal/WhatsApp Image 2023-08-25 at 2.02.27 PM.jpeg" alt=""><br> Pabal
                    </li>
                </ul>
            </div>

            <div class="col-md-9">
                <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">

                    <a href="/assets/gallery/annual/DSC_5533.jpg">
                        <img src="/assets/gallery/annual/DSC_5533.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/annual/DSC_5565.jpg">
                        <img src="/assets/gallery/annual/DSC_5565.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/annual/DSC_5546.jpg">
                        <img src="/assets/gallery/annual/DSC_5546.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/annual/DSC_5567.jpg">
                        <img src="/assets/gallery/annual/DSC_5567.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/annual/DSC_5585.jpg">
                        <img src="/assets/gallery/annual/DSC_5585.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/annual/DSC_5662.jpg">
                        <img src="/assets/gallery/annual/DSC_5662.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/annual/DSC_5659.jpg">
                        <img src="/assets/gallery/annual/DSC_5659.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/annual/DSC_5668.jpg">
                        <img src="/assets/gallery/annual/DSC_5668.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/annual/DSC_5673.jpg">
                        <img src="/assets/gallery/annual/DSC_5673.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/annual/DSC_5696.jpg">
                        <img src="/assets/gallery/annual/DSC_5696.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/annual/DSC_6004.jpg">
                        <img src="/assets/gallery/annual/DSC_6004.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/annual/DSC_6055.jpg">
                        <img src="/assets/gallery/annual/DSC_6055.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/annual/DSC_6060.jpg">
                        <img src="/assets/gallery/annual/DSC_6060.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/annual/DSC_6085.jpg">
                        <img src="/assets/gallery/annual/DSC_6085.jpg" alt="">
                    </a>

                    <!-- <a href="/assets/gallery/annual/DSC_5860.jpg">
                        <img src="/assets/gallery/annual/DSC_5860.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/annual/DSC_5845.jpg">
                        <img src="/assets/gallery/annual/DSC_5845.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/annual/DSC_5840.jpg">
                        <img src="/assets/gallery/annual/DSC_5840.jpg" alt="">
                    </a> -->

                    <!-- <a href="/assets/gallery/annual/DSC_5868.jpg">
                        <img src="/assets/gallery/annual/DSC_5868.jpg" alt="">
                    </a> -->

                    <a href="/assets/gallery/annual/DSC_5508.jpg">
                        <img src="/assets/gallery/annual/DSC_5508.jpg" alt="">
                    </a>
                    <a href="/assets/gallery/annual/DSC_5517.jpg">
                        <img src="/assets/gallery/annual/DSC_5517.jpg" alt="">
                    </a>
                    <a href="/assets/gallery/annual/DSC_5665.jpg">
                        <img src="/assets/gallery/annual/DSC_5665.jpg" alt="">
                    </a>

                </lightgallery>
            </div>
        </div>
    </div>


</div>
<br><br>