<div class="container">
    <h1 class="text-center">Pabal</h1>
    <br>
    <br>
    <div class="row">
        <div class="col-md-3">
            <ul class="ul">
                <li [routerLink]="['/gallery/Inaugation']" class="animate__animated animate__fadeInLeft ">
                    <img src="/assets/gallery/ethon/DSC_0198.jpg " alt="">
                    <br>
                    Inauguration
                </li>
                <br>
                <li [routerLink]="['/gallery/Visitor']" class="animate__animated animate__fadeInLeft ">
                    <img src="/assets/gallery/indepenceday/IMG-20250311-WA0176.jpg" alt="">
                    <br>
                    Visitor
                </li>
                <!-- <li [routerLink]="['/gallery/indepenceday']" class="animate__animated animate__fadeInLeft ">
                    <img src="/assets/gallery/indepenceday/10.jpg" alt=""><br> Independence Day
                </li> -->
                <br>
                <li [routerLink]="['/gallery/annual']" class="animate__animated animate__fadeInLeft ">
                    <img src="/assets/gallery/annual/DSC_5533.jpg" alt="">
                    <br>
                    Annual Function
                </li>
                <br>
                <li [routerLink]="['/gallery/breakfast']" class="animate__animated animate__fadeInLeft ">
                    <img src="/assets/gallery/lunch/20230812_080951_01.jpg " alt="">
                    <br>
                    Breakfast and Lunch
                </li>
                <br>
                <li [routerLink]="['/gallery/sports']" class="animate__animated animate__fadeInLeft ">
                    <img src="/assets/gallery/sports/Sport Acticity_01.jpg " alt="">
                    <br>
                    Sports Activities
                </li>
                <br>
                <li [routerLink]="['/gallery/otheractivities']" class="animate__animated  animate__fadeInLeft">
                    <img src="/assets/dailyreports/DSC_5767.JPG" alt="">
                    <br>
                    Other Activities
                </li>
                <br>
                <li [routerLink]="['/gallery/skill']" class="animate__animated  animate__fadeInLeft">
                    <img src="/assets/dailyreports/DSC_1112.JPG" alt="">
                    <br>
                    Skills
                </li>
                <br>
            </ul>
        </div>
        <!--   <div class="col-md-9" *ngFor="let g of Gallerys, let i=index">
            <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">

                <a [href]="g.Gimage">
                    <img [src]="g.Gimage" alt="">
                </a>
            </lightgallery>
        </div> -->
        <div class="col-md-9">
            <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
                <a href="/assets/gallery/pabal/d1.jpg">
                    <img src="/assets/gallery/pabal/d1.jpg" alt="">
                </a>
                <a href="/assets/gallery/pabal/d2.jpg">
                    <img src="/assets/gallery/pabal/d2.jpg" alt="">
                </a>
                <a href="/assets/gallery/pabal/d3.jpg">
                    <img src="/assets/gallery/pabal/d3.jpg" alt="">
                </a>
                <a href="/assets/gallery/pabal/d4.jpg">
                    <img src="/assets/gallery/pabal/d4.jpg" alt="">
                </a>
                <a href="/assets/gallery/pabal/d5.jpg">
                    <img src="/assets/gallery/pabal/d5.jpg" alt="">
                </a>
                <a href="/assets/gallery/pabal/d6.jpg">
                    <img src="/assets/gallery/pabal/d6.jpg" alt="">
                </a>
                <a href="/assets/gallery/pabal/dec1.jpg">
                    <img src="/assets/gallery/pabal/dec1.jpg" alt="">
                </a>
                <a href="/assets/gallery/pabal/dec2.jpg">
                    <img src="/assets/gallery/pabal/dec2.jpg" alt="">
                </a>
                <a href="/assets/gallery/pabal/dec3.jpg">
                    <img src="/assets/gallery/pabal/dec3.jpg" alt="">
                </a>
                <a href="/assets/gallery/pabal/dec4.jpg">
                    <img src="/assets/gallery/pabal/dec4.jpg" alt="">
                </a>
                <a href="/assets/gallery/pabal/dec5.jpg">
                    <img src="/assets/gallery/pabal/dec5.jpg" alt="">
                </a>
                <a href="/assets/gallery/pabal/dec9.jpg">
                    <img src="/assets/gallery/pabal/dec9.jpg" alt="">
                </a>
                <a href="/assets/gallery/pabal/018.jpg">
                    <img src="/assets/gallery/pabal/018.jpg" alt="">
                </a>
                <a href="/assets/gallery/pabal/WhatsApp Image 2023-08-25 at 2.02.27 PM.jpeg">
                    <img src="/assets/gallery/pabal/WhatsApp Image 2023-08-25 at 2.02.27 PM.jpeg" alt="">
                </a>
                <a href="/assets/gallery/pabal/004.jpg">
                    <img src="/assets/gallery/pabal/004.jpg" alt="">
                </a>
                <a href="/assets/gallery/pabal/WhatsApp Image 2023-08-25 at 1.57.38 PM.jpeg">
                    <img src="/assets/gallery/pabal/WhatsApp Image 2023-08-25 at 1.57.38 PM.jpeg" alt="">
                </a>
                <a href="/assets/gallery/pabal/012.jpg">
                    <img src="/assets/gallery/pabal/012.jpg" alt="">
                </a>
                <a href="/assets/gallery/pabal/011.jpg">
                    <img src="/assets/gallery/pabal/011.jpg" alt="">
                </a>
                <a href="/assets/gallery/pabal/003.jpg">
                    <img src="/assets/gallery/pabal/003.jpg" alt="">
                </a>
                <a href="/assets/gallery/pabal/WhatsApp Image 2023-08-25 at 1.57.42 PM.jpeg">
                    <img src="/assets/gallery/pabal/WhatsApp Image 2023-08-25 at 1.57.42 PM.jpeg" alt="">
                </a>
                <a href="/assets/gallery/pabal/20.jpeg">
                    <img src="/assets/gallery/pabal/20.jpeg" alt="">
                </a>
                <a href="/assets/gallery/pabal/WhatsApp Image 2023-08-25 at 1.57.43 PM.jpeg">
                    <img src="/assets/gallery/pabal/WhatsApp Image 2023-08-25 at 1.57.43 PM.jpeg" alt="">
                </a>
                <a href="/assets/gallery/pabal/21.jpeg">
                    <img src="/assets/gallery/pabal/21.jpeg" alt="">
                </a>
                <a href="/assets/gallery/pabal/DSC08652.JPG">
                    <img src="/assets/gallery/pabal/DSC08652.JPG" alt="">
                </a>
                <a href="/assets/gallery/pabal/22.jpeg">
                    <img src="/assets/gallery/pabal/22.jpeg" alt="">
                </a>
            </lightgallery>
        </div>
    </div>
</div>
<br>
<br>
