<!-- <div class="main">
    <h1>How Can You Help</h1>
</div> -->

<img width="100%" src="/assets/headerimage/4.png" alt="">

<div class="container">
    <br>
    <h1> Sponsor a child and support a child in need</h1> <br>
    <div class="row">
        <div class="col-md-4">
            <div class="">
                <img src="/assets/gallery/Abhijit Katke.jpg" alt=""><br><br>
                <div class="text-center">
                    <h6>Single Child (Yearly)</h6>
                    <h5>₹ 24,000</h5>
                    <!-- <a href="https://payments.cashfree.com/forms?code=singlechild" class="btn btn-success"
                        target="_blank">
                        Donate Now</a> -->
                    <br><br>

                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#donationModal"
                        (click)="setDonation(24000, 'Single Child')">Donate</button>
                </div>
                <br>
            </div>
        </div>
        <br>
        <div class="col-md-4">
            <div class="">
                <img src="/assets/gallery/IMG_20191014_132652.jpg" alt=""><br><br>
                <div class="text-center">
                    <h6>Multiple Child (Yearly)</h6>
                    <h5 style=" align-items: center;">
                        ₹ 24,000
                        <select class="form-select ms-2 me-2" style="width: 70px;  height: 10%;"
                            [(ngModel)]="selectedQuantity" (change)="updateTotal()">
                            <option *ngFor="let qty of quantities" [value]="qty">{{ qty }}</option>
                        </select>
                        = ₹{{ totalAmount | number:'1.0-0' }}
                    </h5>
                    <!-- <a href="https://payments.cashfree.com/forms/multiplechild" class="btn btn-success" target="_blank">
                        Donate Now</a> -->

                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#donationModal"
                        (click)="setDonation(totalAmount, 'Multiple Child')">Donate</button>
                </div>
            </div> <br>
        </div> <br>
    </div>
    <br>
</div>

<div class="container-fluid">
    <div class="card" style="background-color: rgb(141, 195, 34); color: white;">
        <div class="text-center" style="padding: 5px;">
            <h1 style="font-size:35px">We appreciate your cooperation in keeping our facility clean <br> by not bringing
                in external food items.</h1>
        </div>
    </div>
</div>
<br>

<div class="container">
    <div class="row">
        <h1>Nutritional Food</h1>
        <div class="col-md-4" *ngFor="let item of fixedDonations">
            <br>
            <div class="card">
                <img [src]="item.img" alt="">
            </div> <br>
            <div class="text-center">
                <h6>{{ item.label }}</h6>
                <h5>₹ {{ item.amount }}</h5>

                <!-- <a href="{{item.donate}}" class="btn btn-success">Donate </a> -->
                <!-- <a href="https://payments.cashfree.com/forms/bvjss" class="btn btn-success" target="_blank">
                    Donate Now</a> -->
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#donationModal"
                    data-mdb-dismiss="modal" (click)="setDonation(item.amount, item.label)">Donate</button>
            </div>
            <br><br>
        </div> <br> <br>
        <br>
    </div>

    <br> <br>
    <div class="row">
        <h2>Grocery </h2>
        <br><br>
        <div class="col-md-6">
            <div class="card">
                <div class="">
                    <img src="/assets/snacks/grocery.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="col-md-6"> <br>

            <form [formGroup]="donationform" (ngSubmit)="Donation()">

                <div class="form-check form-check-inline" *ngFor="let item of groceryItems">
                    <input class="form-check-input" type="checkbox" [value]="item"
                        (change)="onCheckboxChange(item, $event)" />
                    <label class="form-check-label">{{ item }}</label>
                </div>

                <br> <br>
                <div class="row">
                    <div class="col-md-6">
                        <label>Name:</label> <br>
                        <input formControlName="name" placeholder="Enter Name" name="name" class="input" required>
                        <br><br>
                    </div>

                    <div class="col-md-6">
                        <label>Email:</label><br>
                        <input formControlName="email" name="email" placeholder="Enter Email" class="input" required>
                        <br><br>
                    </div>

                    <div class="col-md-6">
                        <label>Contact No.:</label><br>
                        <input formControlName="contactNo" name="contactNo" placeholder="Enter Contact number"
                            class="input" required>
                        <br><br>
                    </div>

                    <div class="col-md-6">
                        <label>Message :</label> <br>
                        <input formControlName="message" placeholder="Enter message" name="message" class="input"
                            required>
                        <br><br>
                    </div>
                </div>
                <br>
                <div class="text-center">
                    <div>
                        <button class="btn btn-success btn-lg" type="submit"> <b>Submit Now</b> </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br> <br> <br>

    <br> <br> <br>
    <div class="row">
        <div class="col-md-4">
            <h3>Clothes</h3> <br>
            <img src="/assets/Rectangle 20.png" alt=""> <br> <br>
            <div class="bttn">
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#exampleModaldonation">
                    Donate
                </button>
            </div>

            <br>
        </div> <br>
        <div class="col-md-4">
            <h3>Carpets</h3> <br>
            <img src="/assets/Rectangle 23.png" alt=""> <br> <br>
            <div class="bttn">
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#exampleModaldonation">
                    Donate
                </button>
            </div>
            <br>
        </div> <br>

        <div class="col-md-4">
            <h3>Medicine</h3><br>
            <img src="/assets/Rectangle 23 (1).png" alt=""> <br> <br>
            <div class="bttn">
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#exampleModaldonation">
                    Donate
                </button>
            </div>

            <br>
        </div> <br>
    </div>

    <br><br>
    <div class="row">
        <div class="col-md-4">
            <h3>Learning Aparatus</h3><br>
            <img src="/assets/donatethings/8.png" class="rounded" alt=""> <br> <br>
            <div class="bttn">
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#exampleModaldonation">
                    Donate
                </button>
            </div>
            <br>
        </div> <br>

        <div class="col-md-4">
            <h3>Ear machines</h3><br>
            <div class="card">

                <img src="/assets/donatethings/3.png" alt="">

            </div> <br>
            <div class="bttn">
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#exampleModaldonation">
                    Donate
                </button>
            </div>
            <br>
        </div> <br>

        <div class="col-md-4">
            <h3>Notebooks</h3><br>
            <div class="card">
                <img src="/assets/donatethings/7.png" class="rounded" alt="">
            </div> <br>
            <div class="bttn">
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#exampleModaldonation">
                    Donate
                </button>
            </div>
            <br>
        </div> <br>
    </div>

    <br><br>
    <div class="row">
        <div class="col-md-4">
            <h3>Books for library</h3><br>
            <img src="/assets/librarybook.jpg" class="rounded" alt=""> <br> <br>
            <div class="bttn">
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#exampleModaldonation">
                    Donate
                </button>
            </div>
        </div> <br>

        <div class="col-md-4">
            <h3>Sports material</h3><br>
            <img src="/assets/sports.jpg" class="rounded" alt=""> <br> <br>
            <div class="bttn">
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#exampleModaldonation">
                    Donate
                </button>
            </div><br>
        </div> <br>

        <div class="col-md-4">
            <h3>Papers</h3><br>
            <img src="/assets/paper.jpg" class="rounded" alt=""> <br> <br>
            <div class="bttn">
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#exampleModaldonation">
                    Donate
                </button>
            </div><br>
        </div> <br>

    </div>

    <br><br>
    <div class="row">
        <div class="col-md-4">
            <h3>Computers for Physically
                Challenged Children</h3>
            <img src="/assets/Rectangle 33.png" alt=""> <br> <br>
            <div class="bttn">
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#exampleModaldonation">
                    Donate
                </button>
            </div>
            <br>
        </div> <br>

        <div class="col-md-4">
            <h3>Lab apparatus</h3> <br>
            <img src="/assets/lab.jpg" class="rounded" alt=""> <br> <br>
            <div class="bttn">
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#exampleModaldonation">
                    Donate
                </button>
            </div>
            <br>
        </div> <br>

        <div class="col-md-4">
            <h3>Old furniture’s</h3>
            <br>
            <img src="/assets/furniture.jpg" class="rounded" alt="">
            <br> <br>
            <div class="bttn">
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#exampleModaldonation">
                    Donate
                </button>
            </div>

        </div> <br>
    </div>
</div> <br><br>

<!-- Donation with the defined Amount Modal -->
<div class="modal fade" id="donationModal" #donationModal tabindex="-1" aria-labelledby="donationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form (ngSubmit)="initiatePayment()">
                <div class="modal-header">
                    <h5 class="modal-title">Pay for {{ selectedCategory }}</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label>Amount:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i
                                class="fa-solid fa-indian-rupee-sign"></i></span>
                        <input [(ngModel)]="order.order_amount" name="amount" class="form-control" readonly />
                    </div>

                    <label class="mt-2">Name:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                        <input [(ngModel)]="order.customer_details.customer_name" name="customer_name"
                            class="form-control" required />
                    </div>

                    <label class="mt-2">Email:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-envelope"></i></span>
                        <input [(ngModel)]="order.customer_details.customer_email" name="email" class="form-control"
                            required />
                    </div>

                    <label class="mt-2">Contact No.:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-phone"></i></span>
                        <input [(ngModel)]="order.customer_details.customer_phone" name="phone" class="form-control"
                            required />
                    </div>

                    <label class="mt-2">PAN No: (To Generate a Certificate) </label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-id-card-clip"></i></span>
                        <input [(ngModel)]="order.customer_details.customer_panNo" name="panNo" class="form-control"
                            required />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Pay Now</button>
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal for a donating things form-->
<div class="modal fade" id="exampleModaldonation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="    modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Donatating Important Things</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="donationform" (ngSubmit)="Donation()">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                                <input type="text" class="form-control" placeholder="First_Name" formControlName="name"
                                    aria-label="FirstName" aria-describedby="basic-addon1" />
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-envelope"></i></span>
                            <input type="email" class="form-control" placeholder="Email" formControlName="email"
                                aria-label="email" aria-describedby="basic-addon1" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-phone"></i></span>
                            <input type="text" class="form-control" placeholder="Contact Number"
                                formControlName="contactNo" aria-label="contactNo" aria-describedby="basic-addon1" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <label for="Project Scope" class="form-label">Message :</label> <br>
                        <textarea class="form-control" aria-label="With textarea" formControlName="message"
                            placeholder="Write here Name of Things and Quantity for donates."></textarea>
                    </div>
                    <br>

                    <button type="submit" class="btn btn-success btn-lg"> Submit </button>
                </form>
            </div>

        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
    <p style="color: white">Wait a minute! Generating your Certificate.... </p>
</ngx-spinner>