<!-- <div class="main">
    <h1>About Us</h1>
</div> -->
<img src="/assets/headerimage/1.png" class="img" alt="Header Images">
<br>
<div class="container">
    <br>
    <h5>
        BVJSS has been serving orphans and handicapped, blind, and deaf children since 1987.
        <br>
        350 students
        are
        living in hermitage.
    </h5>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Divyang</h3>
                <div class="cardphoto">
                    <div class="card-body">
                        <img src="/assets/gallery/pabal/019.jpg" class="img" alt=" Images">
                        <br>
                        <p style="padding: 3%;text-align: justify;">
                            The school for intellectually disabled children is located on the holy land of Pabal,
                             near the “Bhagwan Shri Padmini Jain” Temple. The school has facilities like a free hostel and mess, as well as free education
                              for orphans and handicapped, deaf, and blind children. 
                            Our volunteers are working in nearest villages to spread the importance of vegetarianism as well as effects of addictions.
                        </p>
                    </div>
                </div>
                <br>
            </div>
            <br>
            <div class="col-md-6">
                <h3>School</h3>
                <div class="cardphoto">
                    <div class="card-body">
                        <img src="/assets/gallery/sports/about.jpeg" class="img" alt="Images">
                        <br>
                        <p style="padding: 3%;text-align: justify;">
                            The number of students increases every year, and we help children to build good habits in their minds. 
                            That’s why many generous people help the organization.
                             Their contributions helped us provide better education, care, and opportunities for every child to live with dignity and confidence
                            <!-- Number of students increases every year and we help
                            children’s to build good habits in there mind. That’s why many generous people help the
                            organization.
                            Their contributions helped us provide better education, care, and opportunities for every child to live with dignity and confidence. -->
                        </p>
                    </div>
                </div>
                <br>
            </div>
            <br>
            <!-- <div class="col-md-8">
                <p style="padding: 3%;text-align: justify;">The school of mentally challenged child is located on holy
                    land Pabal, near “Bhagwan shri Padmini Jain” Temple.The school has facilities like free hostel, mess
                    as well as free education for orphans,
                    handicapped, deef and blind children. Our volunteers are working in nearest villages to spread the
                    importance of vegetarianism as well as effects of addictions.</p>
            </div> -->
        </div>
        <br>
        <!-- <div class="row">
            <h3>School</h3>
            <div class="col-md-4">
                <div class="cardphoto">
                    <div class="card-body">
                        <img src="/assets/gallery/sports/WhatsApp Image 2024-03-18 at 03.15.43.jpeg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <p style="padding: 3%;text-align: justify;">Number of students increases every year and we help
                    children’s to build good habits in there mind.That’s why many generous people help the organization.
                </p>
            </div>
        </div> -->
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <h3 style="text-decoration: underline;">For More :</h3>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="card">
                <p style="text-align: center; font-size: large;">
                    <b>Marathi Version</b>
                </p>
                <object
                    data="/assets/pdf/FatherofOrphanMarathi.pdf"
                    type="application/pdf"
                    width="100%"
                    height="550"
                >
                    <p>
                        <a href="/assets/pdf/FatherofOrphanMarathi.pdf" target="_blank">Download the PDF</a>
                        .
                    </p>
                </object>
                <!-- <embed height="450" src="/assets/pdf/FatherofOrphanMarathi.pdf" type=""> -->
            </div>
            <br>
        </div>
        <div class="col-md-4">
            <div class="card">
                <p style="text-align: center; font-size: large;">
                    <b>English Version</b>
                </p>
                <!-- <embed height="450" src="/assets/pdf/Father of Orphan -English Version.pdf" type=""> -->
                <object
                    data="/assets/pdf/Father of Orphan -English Version.pdf"
                    type="application/pdf"
                    width="100%"
                    height="550"
                >
                    <p>
                        <a href="/assets/pdf/Father of Orphan -English Version.pdf" target="_blank">Download the PDF</a>
                        .
                    </p>
                </object>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card g">
                <div class="card-body">
                    <h2>Our History</h2>
                    <br>
                    <p>

                        Maharashtra is known for its robust people and culture along with many backward castes. 
                        In this developing Maharashtra, all backward castes are placed out of the race.
                         They can’t afford fundamental facilities like food, clothes, and shelter, as well as education.

                        <!-- Maharashtra is identified for robust peoples and culture along with many backward casts.
                        In this developing Maharashtra, all backward cast are placed out of race. They can’t afford
                        fundamental
                        facilities like food, clothes and shelter as well as education. -->
                    </p>
                    <div class="text-end">
                        <button class="btn btn-outline-secondary" [routerLink]="['/history']">
                            <b style="color: white;">Know More</b>
                        </button>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <br>
        <div class="col-md-6">
            <div class="card og">
                <div class="card-body">
                    <h2>Our Objectives</h2>
                    <ul>
                        <li>To help a child without family.</li>
                        <li>Give education to one’s who really needed.</li>
                        <li>To empower children to become self-reliant.</li>
                    </ul>
                    <h2>Our Mission</h2>
                    <p>
                        To make a difference in the life of an orphan, single child, poor child, needy child, and divyang child.
                        <!-- To make a difference in the life of a
                        orphans, single child, poor child,
                        needy child and divyang child. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card og">
                <div class="card-body">
                    <h2>Our Schools</h2>
                    <br>
                    <ul>
                        <li>
                            Shri Muk-Badhir Vidyalaya
                            (Aashram), Wagholi
                        </li>
                        <li>
                            Residential School for Divyang
                            Students, Pabal
                        </li>
                        <li>
                            Sai Aanad Muk Badhir Vidyalaya,
                            Wadegawhan
                        </li>
                    </ul>
                </div>
                <br>
            </div>
            <br>
            <br>
        </div>
        <br>
        <div class="col-md-6">
            <div class="card g">
                <div class="card-body">
                    <h2>
                        Our Initiatives To
                        Empower Children
                    </h2>
                    <p style="text-align: justify;">
                        माता पिता के प्यार का साया जिन्हे मिला नही है, जो अनाथ है, गुंगे
                        बहिरे है,
                        निराधार तथा निराश्रित है, ऐसे
                        बच्चों कि पढाई, भोजन तथा निवास कि मुफ्त मे सुविधा हमारी संस्था १९८७ से कर राही है|
                    </p>
                    <ul>
                        <li>Goat compliance</li>
                        <li>Poultry farming</li>
                        <li>Duck compliance</li>
                    </ul>
                    <div class="text-end">
                        <button class="btn btn-outline-secondary" [routerLink]="['/Initiative']">
                            <b style="color: white;">Know More</b>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="googlereviews">
    <div class="text-center">

        <img src="/assets/googlereviews.png" width="300" alt="">
    </div>


    <div class="container">
        <!-- Carousel wrapper -->
        <div id="carouselMultiItemExample" data-mdb-carousel-init class="carousel slide carousel-dark text-center"
            data-mdb-ride="carousel">

            <!-- Inner -->
            <div class="carousel-inner py-4">
                <!-- Single item -->
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">

                                <h5 class="mb-3 names">
                                  Sadhna Raut <img src="/assets/g.png"  width="20" alt=""> </h5>

                                <p class="">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    Today visited BVJSS and was truly impressed by the love and dedication shown by the
                                    staff. The children are well cared for, engaged in meaningful activities, and
                                    surrounded by a safe, nurturing environment. The facility is clean and organized,
                                    and the team genuinely treats every child like family. I’m grateful to have
                                    witnessed the incredible work they do. Highly recommended to anyone looking to
                                    support a trustworthy and compassionate orphanage.
                                </p>
                                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                </ul>
                            </div>

                            <div class="col-lg-4 d-none d-lg-block">

                                <h5 class="mb-3 names">
                                    Shubhangi N <img src="/assets/g.png"  width="20" alt=""> </h5>

                                <p class="">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    Today me and my friends visited the BVJSS, and we had a really great experience
                                    here.I like the concept of this school. The teachers are good and there values are
                                    great.
                                    Here children's lives incredible environment.
                                    I highly recommend anyone looking to support a trustworthy and compassionate
                                    orphanage.
                                </p>
                                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>

                                </ul>
                            </div>

                            <div class="col-lg-4 d-none d-lg-block">

                                <h5 class="mb-3 names">
                                    Sampath Midivelli <img src="/assets/g.png"  width="20" alt=""> </h5>
                                <p class="">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    BVJSS provides education and shelter and food to more than 700 students, they serve
                                    food and maintain good hygiene levels, please do support them for a meal which costs
                                    only 7 thousand for one meal for 700 students
                                </p>
                                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-4 d-none d-lg-block">

                                <h5 class="mb-3 names">Rashmi Borbora <img src="/assets/g.png"  width="20" alt=""> </h5>
                                <p class="">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    Grateful to celebrate another year of life by sharing joy and love with these
                                    beautiful souls. Their smiles were the best gift I could’ve received. 🎉❤️
                                    #BirthdayWithPurpose #SpreadingLove #GratefulHeart
                                </p>
                                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li>
                                        <i class="fas fa-star fa-sm"></i>
                                    </li>
                                </ul>
                            </div>


                            <div class="col-lg-4 d-none d-lg-block">
                                <h5 class="mb-3 names">Yash Mehta <img src="/assets/g.png"  width="20" alt=""> </h5>
                                <p class="">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    its a great facility and lot of hard work is being done by care takers to keep this
                                    place up and running. kudos to everyone for maintaining this place so well and most
                                    importantly taking good care of the kids.
                                </p>
                                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li>
                                        <i class="fas fa-star fa-sm"></i>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-4 d-none d-lg-block">

                                <h5 class="mb-3 names">
                                    Barsha Das <img src="/assets/g.png"  width="20" alt=""> </h5>
                                <p class="">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    It was a truly memorable experience. I had a great time with the children, and the
                                    staff were exceptionally kind, supportive, and informative
                                </p>
                                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                </ul>
                            </div>


                        </div>
                    </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-4">
                                <h5 class="mb-3 names">Kalakari KK Ki <img src="/assets/g.png"  width="20" alt=""> </h5>
                                <p class="">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    This organisation is very well organized and perfect. They have around 350 children
                                    here. They provide them free stay with healthy food and schooling. We have
                                    personally seen all the facilities they provide to these children. We can celebrate
                                    birthdays of our family members there. They cook on our behalf and provide food. We
                                    have to just pay them. They provide receipt for anything we give them in cash or
                                    kind. The supervisors are very kind and polite. They have children aged from 3-21
                                    years. I am highly impressed by their system. It's my appeal to everyone to
                                    contribute little towards our society. They too need our love and support.
                                </p>
                                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                </ul>
                            </div>

                            <div class="col-lg-4">

                                <h5 class="mb-3 names">
                                    Anant Watane <img src="/assets/g.png"  width="20" alt=""> </h5>
                                <p class="">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    We have visited this place and donated evening meal. Overall Management is very nice
                                    and organized. They have separate accommodations for boys and girls which is neat
                                    and clean. Around 300+ kids between age group 5 to 16 yrs are living here. They have
                                    various morning, evening meal / breakfast / snacks options to opt as per your
                                    comfort. Mr. Rahane sir (PRO) is very helpful. He has showcased entire premises and
                                    explained how things work at center. Overall very nice and pleasing experience. I
                                    would recommend this center for anyone with respect to donation and help these kids.
                                </p>
                                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                </ul>
                            </div>

                            <div class="col-lg-4 d-none d-lg-block">

                                <h5 class="mb-3 names">
                                    Smita Kale <img src="/assets/g.png"  width="20" alt=""> </h5>
                                <p class="">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    This ashram is good and personally take care of every child. They manage around 400
                                    or more kids in this place. Sector like education, sports, multi talented activities
                                    for all they provide proper training in this ashram. They also try to make a child
                                    independent in terms of earning once he lives the ashram. Since from many year we
                                    are supporting this ashram. All of you are requested to come forward and try giving
                                    all possible support from your end. Only feeding is not everything for the personal
                                    growth of the child, support them too in knowledge sharing, skill talent training
                                    etc....
                                </p>
                                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Inner -->

            <!-- Controls -->
            <div class="d-flex justify-content-center mb-4">
                <button data-mdb-button-init class="carousel-control-prev position-relative" type="button"
                    data-mdb-target="#carouselMultiItemExample" data-mdb-slide="prev">
                    <span class="carousel-control-prev-icon text-body" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button data-mdb-button-init class="carousel-control-next position-relative" type="button"
                    data-mdb-target="#carouselMultiItemExample" data-mdb-slide="next">
                    <span class="carousel-control-next-icon text-body" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <br><br>
        <!-- Carousel wrapper -->
    </div>
</div>
<br>
