<!-- <div class="main">
    <h1>About Us</h1>
</div> -->


<img src="/assets/headerimage/1.png" alt="">
<br>
<div class="container"> <br>
    <h5>BVJSS is serving orphans child, handicapped child as well as blind and deaf child since 1987. <br> 350 students
        are
        living in hermitage.</h5>
    <br>

    <div class="container">
        <div class="row">
            <h3>Divyang</h3>
            <div class="col-md-4">
                <div class="cardphoto">
                    <div class="card-body">
                        <img src="/assets/gallery/pabal/019.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <p style="padding: 3%;text-align: justify;">The school of mentally challenged child is located on holy
                    land Pabal, near “Bhagwan shri Padmini Jain” Temple.The school has facilities like free hostel, mess
                    as well as free education for orphans,
                    handicapped, deef and blind children. Our volunteers are working in nearest villages to spread the
                    importance of vegetarianism as well as effects of addictions.</p>
            </div>
        </div>
        <br>

        <div class="row">
            <h3>School</h3>
            <div class="col-md-4">
                <div class="cardphoto">
                    <div class="card-body">
                        <img src="/assets/home/1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <p style="padding: 3%;text-align: justify;">Number of students increases every year and we help
                    children’s to build good habits in there mind.That’s why many generous people help the organization.
                </p>
            </div>
        </div>
    </div>
</div>

<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card g">
                <div class="card-body">
                    <h2>Our History</h2>
                    <br>
                    <p>Maharashtra is identified for robust peoples and culture along with many backward casts.
                        In this developing Maharashtra, all backward cast are placed out of race. They can’t afford
                        fundamental
                        facilities like food, clothes and shelter as well as education.</p>
                    <div class="text-end">
                        <button class="btn btn-outline-secondary" [routerLink]="['/history']"> <b
                                style="color: white;">Know More</b> </button>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <br>
        <div class="col-md-6">
            <div class="card og">
                <div class="card-body">
                    <h2>Our Objectives</h2>
                    <ul>
                        <li>To help a child without family.</li>
                        <li>Give education to one’s who really needed.</li>
                        <li>To empower children to become self-reliant.</li>
                    </ul>
                    <h2>Our Mission</h2>
                    <p>To make a difference in the life of a
                        orphans, single child, poor child,
                        needy child and divyang child.</p>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-6">
            <div class="card og">
                <div class="card-body">
                    <h2>Our Schools</h2> <br>
                    <ul>
                        <li>Shri Muk-Badhir Vidyalaya
                            (Aashram), Wagholi</li>
                        <li>Residensial School for Divyang
                            students, Pabal</li>
                        <li>Sai Aanad Muk Badhir Vidyalaya,
                            Wadegawhan</li>
                    </ul>
                </div> <br>
            </div> <br> <br>
        </div> <br>

        <div class="col-md-6">
            <div class="card g">
                <div class="card-body">
                    <h2>Our Initiatives To
                        Empower Children</h2>
                    <p style="text-align: justify;">माता पिता के प्यार का साया जिन्हे मिला नही है, जो अनाथ है, गुंगे
                        बहिरे है,
                        निराधार तथा निराश्रित है, ऐसे
                        बच्चों कि पढाई, भोजन तथा निवास कि मुफ्त मे सुविधा हमारी संस्था १९८७ से कर राही है|
                    </p> <ul>
                        <li>Goat compliance</li>
                        <li>Poultry farming</li>
                        <li>Duck compliance</li>
                    </ul>

                    <div class="text-end">
                        <button class="btn btn-outline-secondary" [routerLink]="['/Initiative']"> <b
                                style="color: white;">Know More</b> </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
