<div class="container">
    <h1 class="text-center">Breakfast And Lunch</h1>
    <br><br>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="ul">
                    <li [routerLink]="['/gallery/Inaugation']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/ethon/DSC_0198.jpg " alt=""><br> Inauguration 
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/indepenceday']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/indepenceday/IMG-20250311-WA0176.jpg" alt=""><br> Visitor
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/annual']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/annual/DSC_5533.jpg" alt=""><br> Annual Function
                    </li>
                    <!-- <li [routerLink]="['/gallery/indepenceday']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/indepenceday/10.jpg" alt=""><br> Independence Day
                    </li> -->
                    <br>
                    <li [routerLink]="['/gallery/sports']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/sports/Sport Acticity_01.jpg " alt=""><br> Sports Activities
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/otheractivities']" class="animate__animated  animate__fadeInLeft">
                        <img src="/assets/dailyreports/DSC_5767.JPG" alt=""><br> Other Activities
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/skill']" class="animate__animated  animate__fadeInLeft">
                        <img src="/assets/dailyreports/DSC_1112.JPG" alt=""><br> Skills
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/pabal']" class="animate__animated animate__fadeInLeft">
                        <img src="/assets/gallery/pabal/WhatsApp Image 2023-08-25 at 2.02.27 PM.jpeg" alt=""><br> Pabal
                    </li>
                </ul>
            </div>

            <div class="col-md-9">
                <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">

                    <a href="/assets/gallery/lunch/IMG-20250208-WA0003.jpg">
                        <img src="/assets/gallery/lunch/IMG-20250208-WA0003.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/lunch/IMG-20250208-WA0004.jpg">
                        <img src="/assets/gallery/lunch/IMG-20250208-WA0004.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/lunch/IMG-20250208-WA0009.jpg">
                        <img src="/assets/gallery/lunch/IMG-20250208-WA0009.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/lunch/IMG-20250226-WA0002.jpg">
                        <img src="/assets/gallery/lunch/IMG-20250226-WA0002.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/lunch/IMG-20250226-WA0017.jpg">
                        <img src="/assets/gallery/lunch/IMG-20250226-WA0017.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/lunch/IMG-20250226-WA0018.jpg">
                        <img src="/assets/gallery/lunch/IMG-20250226-WA0018.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/lunch/20230812_080951_01.jpg">
                        <img src="/assets/gallery/lunch/20230812_080951_01.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/lunch/20230812_080951_02.jpg">
                        <img src="/assets/gallery/lunch/20230812_080951_02.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/lunch/20230812_081437_05.jpg">
                        <img src="/assets/gallery/lunch/20230812_081437_05.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/lunch/20230812_081217_03.jpg">
                        <img src="/assets/gallery/lunch/20230812_081217_03.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/lunch/20230812_134011_04.jpg">
                        <img src="/assets/gallery/lunch/20230812_134011_04.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/lunch/provided meel.jpg">
                        <img src="/assets/gallery/lunch/provided meel.jpg" alt="">
                    </a>


                    <a href="/assets/gallery/lunch/20230812_080951_01.jpg">
                        <img src="/assets/gallery/lunch/20230812_080951_01.jpg" alt="">
                    </a>

                </lightgallery>
            </div>
        </div>
    </div>


</div>
<br><br>