<app-navbar></app-navbar>

<ul class="menu">
    <li></li>
    <li>
        <p>
            <a href="#" [routerLink]="['/contact']" (click)="scroll()" data-mdb-placement="top" aria-label="Read more about"
                data-mdb-toggle="tooltip" title="Contact Us"> <i class="fa-solid fa-address-card contact"></i>
            </a>
        </p>
    </li>

    <li>
        <p>
            <a href="https://wa.me/+919372466612" data-mdb-toggle="tooltip" data-mdb-placement="top" aria-label="Read more about"
                title="Connect Through Whatsapp "> <i class="fa-brands fa-whatsapp icon"></i>
            </a>
        </p>
    </li>

    <li>
        <p>
            <a href="https://www.instagram.com/bvjss_org/?igshid=MWZjMTM20DFkZg%3D%3D" target="_blank" aria-label="Read more about"
                data-mdb-toggle="tooltip" data-mdb-placement="top" title="Visit To Instagram"> <i
                    class="fa-brands fa-instagram iconi"></i>
            </a>
        </p>

    </li>

    <li>
        <p>
            <a href="https://www.facebook.com/bvjss.org/" target="_blank" data-mdb-placement="top" aria-label="Read more about"
                data-mdb-toggle="tooltip" title="Connect On Facebook">
                <i class="fa-brands fa-facebook facebook"></i>
            </a>
        </p>
    </li>
</ul>

<button class="button" (click)="scroll()" aria-label="Name"><i class="fa-solid fa-square-caret-up"></i></button>

<router-outlet></router-outlet>

<app-footer></app-footer>