<img width="100%" src="/assets/headerimage/2.png" alt="">
<br>
<div class="container">
    <br>
    <br>
    <div class="row">
        <p>
            Maharashtra is known for its robust people and culture along with many backward castes. In this developing Maharashtra, 
            all backward castes are placed out of the race. They can’t afford fundamental facilities like food, clothes, and shelter, 
            as well as education.
            <br>
            <br>
          In this situation Mr. Shivlal Jadhav came to Pune from his village to learn and to earn fame. He was also from a poor family. 
          His mother thought him to serve the needy children. <br>
“Instead of doing a job that pays for leaving, you have to work for those children of backward castes, who are unable to complete their education.
 These children must complete their education and can live self-dependent lives.
 You bring this student into the flow of education.”
            <br>
            <br>
      With this motive, the mother of Mr. Shivlal Jadhav started the small school for orphan children at home in 1985. 
      Sometimes she used to bring food from her neighborhood.
       While travelling the journey of social service, she started the hermitage school at Wagholi near Pune.
        </p>
        <br>
    </div>
    <!-- 
    <div class="row">
        <h5 style="text-decoration: underline;">For More :</h5>
        <div class="col-md-2"></div>

        <div class="col-md-4">
            <div class="card">
                <p style="text-align: center; font-size: large;"><b>Marathi Version</b></p>

                <object data="/assets/pdf/FatherofOrphanMarathi.pdf" type="application/pdf" width="100%" height="450">
                    <p><a href="/assets/pdf/FatherofOrphanMarathi.pdf" target="_blank">Download the PDF</a>.</p>
                </object>

            </div> <br>
        </div>

        <div class="col-md-4">
            <div class="card">
                <p style="text-align: center; font-size: large;"><b>English Version</b></p>

                <object data="/assets/pdf/Father of Orphan -English Version.pdf" type="application/pdf" width="100%"
                    height="450">
                    <p><a href="/assets/pdf/Father of Orphan -English Version.pdf" target="_blank">Download the PDF</a>.
                    </p>
                </object>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div> -->
    <br>
    <br>
    <div class="container">
        <div class="text-center">
            <h2>Awards and Certification</h2>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="card">
                    <p style="text-align: center; font-size: large;">
                        <b>Certificates</b>
                    </p>
                    <!-- <embed height="450" src="/assets/pdf/Father of Orphan -English Version.pdf" type=""> -->
                    <object
                        data="/assets/pdf/Award Certificates.pdf"
                        type="application/pdf"
                        width="100%"
                        height="450"
                    >
                        <p>
                            <a href="/assets/pdf/Award Certificates.pdf" target="_blank">
                                Download the
                                PDF
                            </a>
                            .
                        </p>
                    </object>
                </div>
                <br>
            </div>
            <br>
            <div class="col-md-4">
                <div class="card">
                    <p style="text-align: center; font-size: large;">
                        <b>Awards Images</b>
                    </p>
                    <!-- <embed height="450" src="/assets/pdf/Father of Orphan -English Version.pdf" type=""> -->
                    <object
                        data="/assets/pdf/Baba Puraskar Images.pdf"
                        type="application/pdf"
                        width="100%"
                        height="450"
                    >
                        <p>
                            <a href="/assets/pdf/Baba Puraskar Images.pdf" target="_blank">
                                Download the
                                PDF
                            </a>
                            .
                        </p>
                    </object>
                </div>
                <br>
                <br>
            </div>
            <br>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
