<div class="container-fluid">
    <div class="row">
        <div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/assets/gallery/pabal/silder/10.jpg" class="d-block w-100" alt="Wild Landscape" />
                    <!-- <div class="carousel-caption  d-md-block">
                        <p class="animate__animated  animate__backInLeft">BVJSS is Serving Orphans Child Since 1987</p>
                    </div> -->
                </div>

                <div class="carousel-item">
                    <img src="/assets/gallery/pabal/silder/11.jpg" class="d-block w-100" alt="Camera" />
                    <div class="carousel-caption  d-md-block">
                        <p class="animate__animated  animate__backInLeft"> Residential School for Mentally Challenged
                            Children.</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="/assets/gallery/pabal/silder/12.jpg" class="d-block w-100" alt="Camera" />
                    <div class="carousel-caption  d-md-block">
                        <p class="animate__animated  animate__backInLeft">Residential School for Mentally Challenged
                            Children.</p>
                    </div>
                </div>

            </div>

            <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls"
                data-mdb-slide="prev">
                <i class="fas fa-circle-chevron-left fa-3x" aria-hidden="true"></i>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls"
                data-mdb-slide="next">
                <i class="fas fa-circle-chevron-right fa-3x" aria-hidden="true"></i>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<br>
<br>

<div class="container"> <br>
    <div class="text-center">
        <!-- <h1>Pabal School</h1> -->
        <p class="p">This residential school, located in the rural area of Pabal-approximately 40 kilometers from
            Pune-was
            established with the vision to support children from poor farming families who are mentally challenged. The
            institution offers free accommodation, education, and care, aiming to uplift and empower children who are
            often marginalized and underserved.</p>
    </div> <br>
    <br>

    <div class="container">
        <div class="text-center">
            <h2> Facilities and Support Services</h2> <br>
        </div>
        <div class="row">
            <div class="col-md-4"> <br>
                <p style="font-size: large;">The school is equipped with basic facilities and infrastructure, including
                    dormitories,
                    classrooms, a dining area, and recreational spaces.</p>
                <br><br><br>
                <p style="font-size: large;">It employs special educators and caregivers trained and certified by the
                    Rehabilitation
                    Council of India (RCI).</p>
            </div><br>

            <div class="col-md-4">
                <img class="rounded-circle" src="/assets/gallery/pabal/VocationalTraining.png" alt=""> <br>
            </div><br>

            <div class="col-md-4">
                <br> <br>
                <div class="displaylaptop">
                    <p style="font-size: large;">Children are provided with regular medical care, therapy, and
                        counseling.
                    </p>
                    <br><br><br>
                    <p style="font-size: large;">A strong emphasis is placed on sports, cultural activities, and
                        value-based education to ensure all-round development.</p>
                </div>
            </div><br>
        </div>
    </div>
    <br><br>
    <br>
    <div class="container">
        <div class="row" style="border: 2px solid rgb(57, 89, 57);">
            <div class="col-6">
                <div class="bg-image">
                    <img src="/assets/gallery/pabal/019.jpg" class="img-fluid" alt="Sample" />
                    <!-- <div class="mask" style="background-color: rgba(57, 89, 57, 0.698);"> -->
                    <div class="mask" style="background-color: #00619ea0">
                        <div class="textss">
                            <br>
                            <div class="text-start">
                                <p class="purposetext">Mission</p>
                            </div>
                            <br>
                            <p class="text-white mb-0">The school is dedicated to providing a nurturing environment for
                                mentally challenged children, ensuring their right to education, dignity, and personal
                                growth.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="col-6">
                <div class="bg-image">
                    <img src="/assets/gallery/pabal/WhatsApp Image 2023-08-25 at 1.57.43 PM.jpeg" class="img-fluid"
                        alt="Sample" />
                    <!-- <div class="mask" style="background-color: rgba(57, 89, 57, 0.698);"> -->
                    <div class="mask" style="background-color: #b4572faf;">
                        <div class="textss">
                            <br>
                            <div class="text-start">
                                <p class="purposetext">Vision</p>
                            </div>
                            <br>
                            <p class="text-white mb-0">It focuses on creating opportunities for these children to
                                develop their physical, emotional, intellectual, and social abilities to the fullest
                                extent possible.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <br>
    <br>

    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <h5 class="card-header">Holistic Development Approach</h5>
                            <div class="card-body">
                                <p>Our focus extends beyond academic education. We aim to instill values of goodness,
                                    brotherhood, and
                                    kindness, helping children grow into responsible, compassionate, and capable
                                    citizens.</p>
                            </div>
                        </div>
                    </div><br>
                    <div class="col-md-4">
                        <div class="card">
                            <h5 class="card-header">Education as a Tool for Empowerment</h5>
                            <div class="card-body">
                                <p>We believe that education is a powerful tool to break the cycle of poverty,
                                    especially for
                                    underprivileged children. In line with this belief, we work at the intersection of
                                    education and
                                    livelihood, preparing our students for employment and entrepreneurship.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <h5 class="card-header">Vocational Training Programs</h5>
                            <div class="card-body">
                                <p> We prepare our students for employment and entrepreneurship opportunities by
                                    working at the
                                    intersection
                                    of education and livelihood. To support this goal, we run three different
                                    vocational training
                                    courses in
                                    our Ashram.</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- <div class="row">
            <div class="col-md-6">
                <img src="/assets/gallery/pabal/VocationalTraining.jpg" alt=""> <br>
            </div>
            <div class="col-md-6">
                <h2>Holistic Development Approach</h2>
                <p>Our focus extends beyond academic education. We aim to instill values of goodness, brotherhood,
                    and kindness,
                    helping children grow into responsible, compassionate, and capable citizens.</p>

                <br>

                <h2> Education as a Tool for Empowerment</h2>
                <p>We believe that education is a powerful tool to break the cycle of poverty, especially for
                    underprivileged children. In line with this belief, we work at the intersection of education and
                    livelihood, preparing our students for employment and entrepreneurship.
                </p>
                <br>
                <h2>Vocational Training Programs</h2>
                <p> We prepare our students for employment and entrepreneurship opportunities by working at the
                    intersection
                    of education and livelihood. To support this goal, we run three different vocational training
                    courses in
                    our Ashram.</p>
            </div><br>

        </div> -->

        <br> <br>

        <div class="conatainer">
            <div class="row">
                <div class="text-center">
                    <h1><b>Gallery</b></h1> <br>
                </div>
                <div class="col-md-12">
                    <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">

                        <a href="/assets/gallery/pabal/3.png">
                            <img src="/assets/gallery/pabal/3.png" class="img" alt="">
                        </a>
                        <a href="/assets/gallery/pabal/2.png">
                            <img src="/assets/gallery/pabal/2.png" class="img" alt="">
                        </a>
                        <a href="/assets/gallery/pabal/1.png">
                            <img src="/assets/gallery/pabal/1.png" class="img" alt="">
                        </a>
                        <a href="/assets/gallery/pabal/018.jpg">
                            <img src="/assets/gallery/pabal/018.jpg" class="img" alt="">
                        </a>

                        <a href="/assets/gallery/pabal/WhatsApp Image 2023-08-25 at 2.02.27 PM.jpeg">
                            <img src="/assets/gallery/pabal/WhatsApp Image 2023-08-25 at 2.02.27 PM.jpeg" class="img"
                                alt="">
                        </a>

                        <a href="/assets/gallery/pabal/004.jpg">
                            <img src="/assets/gallery/pabal/004.jpg" class="img" alt="">
                        </a>

                        <a href="/assets/gallery/pabal/WhatsApp Image 2023-08-25 at 1.57.38 PM.jpeg">
                            <img src="/assets/gallery/pabal/WhatsApp Image 2023-08-25 at 1.57.38 PM.jpeg" class="img"
                                alt="">
                        </a>

                        <a href="/assets/gallery/pabal/012.jpg">
                            <img src="/assets/gallery/pabal/012.jpg" class="img" alt="">
                        </a>

                        <a href="/assets/gallery/pabal/011.jpg">
                            <img src="/assets/gallery/pabal/011.jpg" class="img" alt="">
                        </a>

                        <a href="/assets/gallery/pabal/003.jpg">
                            <img src="/assets/gallery/pabal/003.jpg" class="img" alt="">
                        </a>

                        <a href="/assets/gallery/pabal/20.jpeg">
                            <img src="/assets/gallery/pabal/20.jpeg" class="img" alt="">
                        </a>

                        <a href="/assets/gallery/pabal/WhatsApp Image 2023-08-25 at 1.57.43 PM.jpeg">
                            <img src="/assets/gallery/pabal/WhatsApp Image 2023-08-25 at 1.57.43 PM.jpeg" class="img"
                                alt="">
                        </a>
                        <a href="/assets/gallery/pabal/21.jpeg">
                            <img src="/assets/gallery/pabal/21.jpeg" class="img" alt="">
                        </a>
                        <a href="/assets/gallery/pabal/DSC08652.JPG">
                            <img src="/assets/gallery/pabal/DSC08652.JPG" class="img" alt="">
                        </a>

                        <a href="/assets/gallery/pabal/22.jpeg">
                            <img src="/assets/gallery/pabal/22.jpeg" class="img" alt="">
                        </a>

                    </lightgallery>
                </div>
            </div>
        </div>

    </div>
    <br>
</div>