.mains {
    background-image: url('/assets/bg.png');
    background-repeat: repeat;
    background-size: 100%;
    background-color: #ffffff83;
    background-blend-mode: lighten;
}

.p {
    font-size: 20px;
    color: black;
}

h1 {
    font-family: 'newcustomfont';
}

h2,
p {
    color: black;
}

ul {
    color: black;
}

/* h2 {
    text-decoration: underline;
} */

img {
    width: 100%;
}

@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css');

body {
    margin: 0;
}

.gallery-item {
    margin: 15px;
    display: inline-block;
    margin-bottom: 5%;
}

a {
    margin: 5px;
    margin-bottom: 5%;
    height: 80%;
    width: 80%;
}

.img {
    width: 30%;
    border: 1px solid gray;
    padding: 2px;
    margin-bottom: 2%;
}

.ul {
    font-size: 16px;
    list-style: none;
    color: black;
}

.ul img {
    width: 50%;
}

.ul img:hover {
    transform: scale(1.1);
}


/* 
.img {
    width: 50%;
}

.images {
    width: 20%;

} */

.div {
    text-align: center;
    color: black;
}

.story {
    text-align: center;
    padding: 2%;
}

.main {
    background-color: #526756;
    color: white;
}

.p {
    text-align: center;
    font-size: 20px;
}

h5,
h4 {
    text-align: center;
    font-weight: 600;
    color: black;
}

.pa {
    text-align: center;
    font-size: 18px;
    color: black;
}

.bttn {
    text-align: center;
}

.card {
    /* background-color: #d9d9d9; */
    border: 2px solid #526756;
}

.text {
    padding: 5%;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.627);
    /* height: 25%; */
    font-size: 2em;
}

.card-body {
    padding: 1.5%;
}

.res {
    font-size: 14px;
    background-color: #02659D;
}

@media(max-width:439px) {
    .carousel-caption {
        /* height:1rem;
        width: 80%;
        font-size: 1px; */
        display: none;
    }
}

@media(max-width:768px) {
    .carousel-caption {
        height: 3rem;
        font-size: medium;
    }
}


.scrolling-container {
    overflow: hidden;
    height: 600px;
    /* Adjust the height as needed */
    position: relative;
}

.scrolling-content {
    display: flex;
    flex-direction: column;
    animation: scrollLoop 95s linear infinite;
}

.scrolling-contentp {
    display: flex;
    flex-direction: column;
    animation: scrollLoopup 95s linear infinite;
}

@keyframes scrollLoop {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }

    /* Adjust to half the content height */
}

@keyframes scrollLoopup {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0);
    }

    /* Adjust to half the content height */
}

.whytext {
    font-size: 45px;
    font-weight: 550;
    color: black;
}

/* .animate__animated{
    color: white;
} */

.rounded-circle {
    border: 5px solid rgb(57, 89, 57);
}

.displaylaptop {
    margin-left: 25px;
}

.text-white {
    text-align: center;
    font-size: 20px;
}

.purposetext {
    color: white;
    font-size: 2.5em;
}

.purpose {
    font-size: x-large;
}

.col-6 {
    padding: 0%;
}

.mask {
    padding: 5%;
}

.card-header {
    background-color: #526756;
    color: white;
}

.animate__animated {
    color: white;
}

.divtext {
    text-align: justify;
    font-size: 17px;
}

.facility {
    font-size: 3em;
    font-family: 'newcustomfont';
    color: #526756;
}

.fa-star {
    color: rgb(92, 18, 18);
    font-weight: 500;
}

@font-face {
    font-family: 'newcustomfont';
    src: url('/assets/fonts/Montserrat-Italic-VariableFont_wght.ttf');
}

.imagess {
    border-radius: 5%;
}