<div class="container">
    <h1 class="text-center"> Our Visitor </h1>
    <br><br>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="ul">
                    <li [routerLink]="['/gallery/Inaugation']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/ethon/DSC_0198.jpg " alt=""><br> Inauguration
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/breakfast']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/lunch/20230812_080951_01.jpg " alt=""><br> Breakfast and Lunch
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/annual']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/annual/DSC_5533.jpg" alt=""><br> Annual Function
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/sports']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/sports/Sport Acticity_01.jpg " alt=""><br> Sports Activities
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/otheractivities']" class="animate__animated  animate__fadeInLeft">
                        <img src="/assets/dailyreports/DSC_5767.JPG" alt=""><br> Other Activities
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/skill']" class="animate__animated  animate__fadeInLeft">
                        <img src="/assets/dailyreports/DSC_1112.JPG" alt=""><br> Skills
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/pabal']" class="animate__animated animate__fadeInLeft">
                        <img src="/assets/gallery/pabal/WhatsApp Image 2023-08-25 at 2.02.27 PM.jpeg" alt=""><br> Pabal
                    </li>
                </ul>
            </div>
   <!--   <div class="col-md-9" *ngFor="let g of Gallerys, let i=index">
            <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">

                <a [href]="g.Gimage">
                    <img [src]="g.Gimage" alt="">
                </a>
            </lightgallery>
        </div> -->
            <div class="col-md-9">
                <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">

                    <a href="/assets/gallery/indepenceday/v3.jpeg">
                        <img src="/assets/gallery/indepenceday/v3.jpeg" alt="">
                    </a>

                    <a href="/assets/gallery/indepenceday/v2.jpeg">
                        <img src="/assets/gallery/indepenceday/v2.jpeg" alt="">
                    </a>

                    <a href="/assets/gallery/indepenceday/IMG-20250311-WA0008.jpg">
                        <img src="/assets/gallery/indepenceday/IMG-20250311-WA0008.jpg" alt="">
                    </a>


                    <a href="/assets/gallery/indepenceday/IMG-20250311-WA0009.jpg">
                        <img src="/assets/gallery/indepenceday/IMG-20250311-WA0009.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/indepenceday/IMG-20250311-WA0014.jpg">
                        <img src="/assets/gallery/indepenceday/IMG-20250311-WA0014.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/indepenceday/IMG-20250311-WA0015.jpg">
                        <img src="/assets/gallery/indepenceday/IMG-20250311-WA0015.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/indepenceday/IMG-20250311-WA0022.jpg">
                        <img src="/assets/gallery/indepenceday/IMG-20250311-WA0022.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/indepenceday/IMG-20250311-WA0028.jpg">
                        <img src="/assets/gallery/indepenceday/IMG-20250311-WA0028.jpg" alt="">
                    </a>
                    <a href="/assets/gallery/indepenceday/IMG-20250311-WA0025.jpg">
                        <img src="/assets/gallery/indepenceday/IMG-20250311-WA0025.jpg" alt="">
                    </a>
                    <a href="/assets/gallery/indepenceday/IMG-20250311-WA0020.jpg">
                        <img src="/assets/gallery/indepenceday/IMG-20250311-WA0020.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/indepenceday/v2.jpeg">
                        <img src="/assets/gallery/indepenceday/v2.jpeg" alt="">
                    </a>
                    <a href="/assets/gallery/indepenceday/v2.jpeg">
                        <img src="/assets/gallery/indepenceday/v2.jpeg" alt="">
                    </a>
                    <a href="/assets/gallery/indepenceday/IMG-20250311-WA0048.jpg">
                        <img src="/assets/gallery/indepenceday/IMG-20250311-WA0048.jpg" alt="">
                    </a>
                    <a href="/assets/gallery/indepenceday/IMG-20250311-WA0051.jpg">
                        <img src="/assets/gallery/indepenceday/IMG-20250311-WA0051.jpg" alt="">
                    </a>
                    <a href="/assets/gallery/indepenceday/IMG-20250311-WA0053.jpg">
                        <img src="/assets/gallery/indepenceday/IMG-20250311-WA0053.jpg" alt="">
                    </a>

                </lightgallery>
            </div>
        </div>
    </div>
</div>
<br><br>