<div class="container">
    <h1 class="text-center">Inauguration And Handover Ceremony <br> By EATON India Foundation </h1>
    <br><br>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="ul">
                    <li [routerLink]="['/gallery/breakfast']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/lunch/20230812_080951_01.jpg " alt=""><br> Breakfast and Lunch
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/annual']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/annual/DSC_5533.jpg" alt=""><br> Annual Function
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/sports']" class="animate__animated animate__fadeInLeft ">
                        <img src="/assets/gallery/sports/Sport Acticity_01.jpg " alt=""><br> Sports Activities
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/otheractivities']" class="animate__animated  animate__fadeInLeft">
                        <img src="/assets/dailyreports/DSC_5767.JPG" alt=""><br> Other Activities
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/skill']" class="animate__animated  animate__fadeInLeft">
                        <img src="/assets/dailyreports/DSC_1112.JPG" alt=""><br> Skills
                    </li>
                    <br>
                    <li [routerLink]="['/gallery/pabal']" class="animate__animated animate__fadeInLeft">
                        <img src="/assets/gallery/pabal/WhatsApp Image 2023-08-25 at 2.02.27 PM.jpeg" alt=""><br> Pabal
                    </li>
                </ul>
            </div>

            <div class="col-md-9">
                <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">

                    <a href="/assets/gallery/ethon/DSC_0198.jpg">
                        <img src="/assets/gallery/ethon/DSC_0198.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/ethon/DSC_0217.jpg">
                        <img src="/assets/gallery/ethon/DSC_0217.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/ethon/DSC_0223.jpg">
                        <img src="/assets/gallery/ethon/DSC_0223.jpg" alt="">
                    </a>


                    <a href="/assets/gallery/ethon/DSC_0228.jpg">
                        <img src="/assets/gallery/ethon/DSC_0228.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/ethon/DSC_0237.jpg">
                        <img src="/assets/gallery/ethon/DSC_0237.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/ethon/DSC_0246.jpg">
                        <img src="/assets/gallery/ethon/DSC_0246.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/ethon/DSC_0257.jpg">
                        <img src="/assets/gallery/ethon/DSC_0257.jpg" alt="">
                    </a>

                    <a href="/assets/gallery/ethon/DSC_0259.jpg">
                        <img src="/assets/gallery/ethon/DSC_0259.jpg" alt="">
                    </a>
                    <a href="/assets/gallery/ethon/DSC_0274.jpg">
                        <img src="/assets/gallery/ethon/DSC_0274.jpg" alt="">
                    </a>
                    <a href="/assets/gallery/ethon/DSC_0322.jpg">
                        <img src="/assets/gallery/ethon/DSC_0322.jpg" alt="">
                    </a>
                    <a href="/assets/gallery/ethon/DSC_0328.jpg">
                        <img src="/assets/gallery/ethon/DSC_0328.jpg" alt="">
                    </a>
                    <a href="/assets/gallery/ethon/DSC_0331.jpg">
                        <img src="/assets/gallery/ethon/DSC_0331.jpg" alt="">
                    </a>
                    <a href="/assets/gallery/ethon/DSC_0374.jpg">
                        <img src="/assets/gallery/ethon/DSC_0374.jpg" alt="">
                    </a>
                </lightgallery>
            </div>
        </div>
    </div>
</div>
<br><br>