<div class="container-fluid">
    <div class="row">
        <div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel">
            <div class="carousel-inner">
                <!-- <div class="carousel-item active i">
                    <img src="/assets/home/9.jpg" class="d-block w-100" alt="Camera" />
                    <div class="carousel-caption  d-md-block">
                        <p class="animate__animated  animate__backInLeft"> SSC 2024-2025 Result</p>
                    </div>
                </div> -->

                <div class="carousel-item active">
                    <img src="/assets/home/Slide2.png" class="d-block w-100" alt="Wild Landscape" />
                    <div class="carousel-caption  d-md-block">
                        <p class="animate__animated  animate__backInLeft">BVJSS is Serving Orphans Child Since 1987</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="/assets/home/6.png" class="d-block w-100" alt="Camera" />
                    <div class="carousel-caption  d-md-block">
                        <p class="animate__animated  animate__backInLeft">Inauguration And Handover Ceremony by Ethon
                            India Foundation 2025 </p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="/assets/home/7.png" class="d-block w-100" alt="Camera" />
                    <div class="carousel-caption  d-md-block">
                        <p class="animate__animated  animate__backInLeft">Inauguration And Handover Ceremony by Ethon
                            India Foundation 2025 </p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="/assets/home/3.png" class="d-block w-100" alt="Camera" />
                    <div class="carousel-caption  d-md-block">

                        <p class="animate__animated  animate__backInLeft">Annual Day Celebration 2024 </p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="/assets/home/1.png" class="d-block w-100" alt="Exotic Fruits" />
                    <div class="carousel-caption  d-md-block">
                        <p class="animate__animated  animate__backInLeft">Our Visitor</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="/assets/home/2.png" class="d-block w-100" alt="Exotic Fruits" />
                    <div class="carousel-caption  d-md-block">
                        <p class="animate__animated  animate__backInLeft">Reunion 2024
                        </p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="/assets/home/4.png" class="d-block w-100" alt="Fruits" />
                    <div class="carousel-caption  d-md-block">
                        <p class="animate__animated  animate__backInLeft">Annual Day Celebration 2024</p>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls"
                data-mdb-slide="prev">
                <i class="fas fa-circle-chevron-left fa-3x" aria-hidden="true"></i>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls"
                data-mdb-slide="next">
                <i class="fas fa-circle-chevron-right fa-3x" aria-hidden="true"></i>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<br>

<div class="container"><br>
    <h1 style="text-align: center; color:black; font-weight: 600;">Recent Activities</h1>
    <br>
    <div class="card">
        <div class="card-body">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 scrolling-container">
                        <div class="scrolling-content">
                            <img class="galleryimg" src="/assets/gallery/ethon/DSC_0198.jpg" alt=""> <br>
                        
                            <img class="galleryimg" src="/assets/gallery/ethon/DSC_0374.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/ethon/DSC_0331.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/health/1.jpeg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/health/2.jpeg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/annual/DSC_5533.jpg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/annual/DSC_5565.jpg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/annual/DSC_5546.jpg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/annual/DSC_5585.jpg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/annual/DSC_5659.jpg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/annual/DSC_5668.jpg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/health/IMG-20250225-WA0009.jpg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/health/3.jpeg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/annual/DSC_5673.jpg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/indepenceday/IMG-20250311-WA0014.jpg"
                                alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/indepenceday/IMG-20250311-WA0176.jpg"
                                alt=""><br>
                            <!-- Duplicate images for seamless looping -->
                            <img class="galleryimg" src="/assets/gallery/ethon/DSC_0198.jpg" alt=""> <br>
                        
                            <img class="galleryimg" src="/assets/gallery/ethon/DSC_0374.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/ethon/DSC_0331.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/health/1.jpeg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/health/2.jpeg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/annual/DSC_5533.jpg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/annual/DSC_5565.jpg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/annual/DSC_5546.jpg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/annual/DSC_5585.jpg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/annual/DSC_5659.jpg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/annual/DSC_5668.jpg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/health/IMG-20250225-WA0009.jpg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/health/3.jpeg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/annual/DSC_5673.jpg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/indepenceday/IMG-20250311-WA0014.jpg"
                                alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/indepenceday/IMG-20250311-WA0176.jpg"
                                alt=""><br>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6 scrolling-container">
                        <div class="scrolling-contentp">
                            <img class="galleryimg" src="/assets/gallery/otheractivities/DSC_5814.JPG" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/annual/DSC_5567.jpg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/reunion/DSC_5353.JPG" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/otheractivities/_DSC3257.JPG" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/indepenceday/v2.jpeg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/reunion/DSC_4636.JPG" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/reunion/DSC_4669.JPG" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/reunion/DSC_4698.JPG" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/indepenceday/IMG-20250311-WA0008.jpg"
                                alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/annual/DSC_6004.jpg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/indepenceday/IMG-20250311-WA0048.jpg"
                                alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/indepenceday/IMG-20250311-WA0020.jpg"
                                alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/indepenceday/IMG-20250311-WA0025.jpg"
                                alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/ethon/DSC_0328.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/ethon/DSC_0207.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/ethon/DSC_0279.jpg" alt=""> <br>
                        

                            <!-- Duplicate images for seamless looping -->
                            <img class="galleryimg" src="/assets/gallery/otheractivities/DSC_5814.JPG" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/annual/DSC_5567.jpg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/reunion/DSC_5353.JPG" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/otheractivities/_DSC3257.JPG" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/indepenceday/v2.jpeg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/reunion/DSC_4636.JPG" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/reunion/DSC_4669.JPG" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/reunion/DSC_4698.JPG" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/indepenceday/IMG-20250311-WA0008.jpg"
                                alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/annual/DSC_6004.jpg" alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/indepenceday/IMG-20250311-WA0048.jpg"
                                alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/indepenceday/IMG-20250311-WA0020.jpg"
                                alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/indepenceday/IMG-20250311-WA0025.jpg"
                                alt=""><br>
                            <img class="galleryimg" src="/assets/gallery/ethon/DSC_0328.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/ethon/DSC_0207.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/ethon/DSC_0279.jpg" alt=""> <br>
                        
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container">
    <br><br>
    <div class="div">
        <img class="images" src="/assets/logo.png" alt="">
        <h3>Bhatkya Vimukt Jati Shikshan Sanshtha</h3>
        <br>
        <h4>WE HELP THOUSANDS OF CHILDREN TO GET THEIR EDUCATION. <br>
            NOW WE NEED YOUR HELP TO CONTINUE THIS.</h4>
    </div>
</div>

<br><br>

<div class="main">
    <div class="container">
        <div class="story">
            <h1>Our Story</h1>
            <br>
            <p class="p">BVJSS stands for Bhatkya Vimukt Jati Shikshan Sanshtha. BVJSS is a non-profit organization
                bringing the
                hope for orphans, handicapped, blind and deaf children.
                BVJSS is serving orphans child and divyang since
                1987. 350 students are living in hermitage.</p>
        </div>
    </div>
</div>

<br><br>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="text">
                        <h5>Orphans and
                            Single Parent</h5>
                        <br>
                        <p class="pa">350 students at Wagholi</p>
                        <p class="div">We want to study, Can you help us
                            fulfill our dream?</p>
                        <div class="bttn">
                            <button class="btn btn-success" [routerLink]="['/Aboutus']" (click)="scroll()">Read
                                More</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="text">
                        <h5>Divyang/physically
                            challanged</h5>
                        <br>
                        <p class="pa">50 students at Pabal</p>
                        <p class="div">You can provide the essentials to Handicapped Children's</p>
                        <div class="bttn">
                            <button class="btn btn-success" [routerLink]="['/Aboutus']" (click)="scroll()">Read
                                More</button>
                        </div>
                    </div>

                </div>
            </div>
            <br>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="text">
                        <h5>Poor and Needy Children</h5>
                        <br>
                        <p class="pa">Make a difference</p>
                        <p class="div">They want to explore the possibilities, but can't do it without you! </p>
                        <div class="bttn">
                            <button class="btn btn-success" [routerLink]="['/Aboutus']" (click)="scroll()">Read
                                More</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>

<br><br>

<div class="ssocial">
    <div class="container">
        <div class="text-center">
            <p class="whytext">Our Social Media</p>
        </div> <br>
        <div class="row">
            <div class="col-md-6">
                <div class=" social">
                    <div class="card-body">
                        <iframe
                            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fbvjss.org&tabs=timeline&width=600&height=620&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                            width="600" height="620" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowfullscreen="true" title="social media pages facebook"
                            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class=" social">
                    <div class="card-body">
                        <blockquote class="instagram-media"
                            data-instgrm-permalink="https://www.instagram.com/bvjss_org/" data-instgrm-version="12"
                            title="social media pages instagram"
                            style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin:1px; max-width:100%; min-width:100%; padding:0; width:99.375%;">
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>