<!-- <br>
<div class="main">
    <h1>Contact Us</h1>
</div>
<br> -->
<img width="100%" src="/assets/headerimage/New-sliderContact-.png" alt="">

<div class="container"> <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <br>
            <div class="card">
                <img src="/assets/contact/Mr. Shivlal Jadhav sir.jpg" alt="...">
            </div>
            <br>
            <div class="photo">
                <h5>Mr. Shivlal Jadhav</h5>
                <h6>Chairman</h6>
                <h6>9325500100 / 8007378008</h6>
            </div>
            <br><br>
        </div>
        <br>
        <div class="col-md-4">
            <br>
            <div class="card">
                <img src="/assets/contact/Mr. Ganesh Rahane.jpg" alt="contact">
            </div>
            <br>
            <div class="photo">
                <h5>Mr. Ganesh Rahane</h5>
                <h6>Public Relation
                    Officer</h6>
                <h6>9372466612</h6>
            </div>
            <br>
        </div>
        <div class="col-md-2"></div>
    </div>

    <br> <br><br>
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <i class="fa-solid fa-user-tie fa-2xl"></i>
                    </div>
                </div>
            </div>
            <br>
            <div class="photo">
                <h5>Mr. Jitendra Sonawane</h5>
                <h6>Secondary Hermitage School
                    Principal</h6>
                <h6>9923191921</h6>
            </div>
            <br>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <i class="fa-solid fa-user-tie fa-2xl"></i>
                    </div>
                </div>
            </div>
            <br>
            <div class="photo">
                <h5>Mr. Ratanlal Jadhav</h5>
                <h6>Prathmik Ashram Shala</h6>
                <h6>9860119861</h6>
            </div>
        </div>
        <br>

        <div class="col-md-2"></div>
    </div>

    <br><br> <br>



</div>
<br><br>
<div class="ssocial">
    <div class="container">
        <div class="text-center">
            <p class="whytext">Our Social Media</p>
        </div> <br>
        <div class="row">
            <div class="col-md-6">
                <div class=" social">
                    <div class="card-body">
                        <div class="fb-page" data-href="https://www.facebook.com/bvjsswagholipune" data-tabs="timeline"
                            data-width="600" data-height="520" data-small-header="false"
                            data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        </div>
                        <!-- <iframe
                            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fbvjss.org&tabs=timeline&width=600&height=620&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                            width="600" height="620" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowfullscreen="true" title="social media pages facebook"
                            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class=" social">
                    <div class="card-body">
                        <iframe class="instagram-media instagram-media-rendered" id="instagram-embed-0"
                            src="https://www.instagram.com/bvjss_org/embed/?cr=1&amp;v=12&amp;wp=617&amp;rd=https%3A%2F%2Fbvjss.org&amp;rp=%2F#%7B%22ci%22%3A0%2C%22os%22%3A1006.7000000029802%2C%22ls%22%3A846.2000000029802%2C%22le%22%3A848.8999999985099%7D"
                            allowtransparency="true" allowfullscreen="true" frameborder="0" height="488"
                            data-instgrm-payload-id="instagram-media-payload-0" scrolling="no"
                            style="background: white; max-width: 100%; width: 99.375%; border-radius: 3px; border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px;"></iframe>
                        <!-- <blockquote class="instagram-media"
                            data-instgrm-permalink="https://www.instagram.com/bvjss_org/" data-instgrm-version="12"
                            title="social media pages instagram"
                            style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin:1px; max-width:100%; min-width:100%; padding:0; width:99.375%;">
                        </blockquote> -->
                    </div>
                    <!-- <div class="card-body">
                        <blockquote class="instagram-media"
                            data-instgrm-permalink="https://www.instagram.com/bvjss_org/" data-instgrm-version="12"
                            title="social media pages instagram"
                            style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin:1px; max-width:100%; min-width:100%; padding:0; width:99.375%;">
                        </blockquote>
                    </div> -->
                </div>
            </div>
        </div>

        <br><br>
    </div>
</div>

<br>

<div class="googlereviews">
    <div class="text-center">

        <img src="/assets/googlereviews.png" width="300" alt="">
    </div>


    <div class="container">
        <!-- Carousel wrapper -->
        <div id="carouselMultiItemExample" data-mdb-carousel-init class="carousel slide carousel-dark text-center"
            data-mdb-ride="carousel">

            <!-- Inner -->
            <div class="carousel-inner py-4">
                <!-- Single item -->
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">

                                <h5 class="mb-3 names">
                                    Sadhna Raut <img src="/assets/g.png" width="20" alt=""> </h5>

                                <p class="">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    Today visited BVJSS and was truly impressed by the love and dedication shown by the
                                    staff. The children are well cared for, engaged in meaningful activities, and
                                    surrounded by a safe, nurturing environment. The facility is clean and organized,
                                    and the team genuinely treats every child like family. I’m grateful to have
                                    witnessed the incredible work they do. Highly recommended to anyone looking to
                                    support a trustworthy and compassionate orphanage.
                                </p>
                                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                </ul>
                            </div>

                            <div class="col-lg-4 d-none d-lg-block">

                                <h5 class="mb-3 names">
                                    Shubhangi N <img src="/assets/g.png" width="20" alt=""> </h5>

                                <p class="">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    Today me and my friends visited the BVJSS, and we had a really great experience
                                    here.I like the concept of this school. The teachers are good and there values are
                                    great.
                                    Here children's lives incredible environment.
                                    I highly recommend anyone looking to support a trustworthy and compassionate
                                    orphanage.
                                </p>
                                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>

                                </ul>
                            </div>

                            <div class="col-lg-4 d-none d-lg-block">

                                <h5 class="mb-3 names">
                                    Sampath Midivelli <img src="/assets/g.png" width="20" alt=""> </h5>
                                <p class="">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    BVJSS provides education and shelter and food to more than 700 students, they serve
                                    food and maintain good hygiene levels, please do support them for a meal which costs
                                    only 7 thousand for one meal for 700 students
                                </p>
                                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-4 d-none d-lg-block">

                                <h5 class="mb-3 names">Rashmi Borbora <img src="/assets/g.png" width="20" alt=""> </h5>
                                <p class="">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    Grateful to celebrate another year of life by sharing joy and love with these
                                    beautiful souls. Their smiles were the best gift I could’ve received. 🎉❤️
                                    #BirthdayWithPurpose #SpreadingLove #GratefulHeart
                                </p>
                                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li>
                                        <i class="fas fa-star fa-sm"></i>
                                    </li>
                                </ul>
                            </div>


                            <div class="col-lg-4 d-none d-lg-block">
                                <h5 class="mb-3 names">Yash Mehta <img src="/assets/g.png" width="20" alt=""> </h5>
                                <p class="">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    its a great facility and lot of hard work is being done by care takers to keep this
                                    place up and running. kudos to everyone for maintaining this place so well and most
                                    importantly taking good care of the kids.
                                </p>
                                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li>
                                        <i class="fas fa-star fa-sm"></i>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-4 d-none d-lg-block">

                                <h5 class="mb-3 names">
                                    Barsha Das <img src="/assets/g.png" width="20" alt=""> </h5>
                                <p class="">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    It was a truly memorable experience. I had a great time with the children, and the
                                    staff were exceptionally kind, supportive, and informative
                                </p>
                                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                </ul>
                            </div>


                        </div>
                    </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-4">
                                <h5 class="mb-3 names">Kalakari KK Ki <img src="/assets/g.png" width="20" alt=""> </h5>
                                <p class="">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    This organisation is very well organized and perfect. They have around 350 children
                                    here. They provide them free stay with healthy food and schooling. We have
                                    personally seen all the facilities they provide to these children. We can celebrate
                                    birthdays of our family members there. They cook on our behalf and provide food. We
                                    have to just pay them. They provide receipt for anything we give them in cash or
                                    kind. The supervisors are very kind and polite. They have children aged from 3-21
                                    years. I am highly impressed by their system. It's my appeal to everyone to
                                    contribute little towards our society. They too need our love and support.
                                </p>
                                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                </ul>
                            </div>

                            <div class="col-lg-4">

                                <h5 class="mb-3 names">
                                    Anant Watane <img src="/assets/g.png" width="20" alt=""> </h5>
                                <p class="">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    We have visited this place and donated evening meal. Overall Management is very nice
                                    and organized. They have separate accommodations for boys and girls which is neat
                                    and clean. Around 300+ kids between age group 5 to 16 yrs are living here. They have
                                    various morning, evening meal / breakfast / snacks options to opt as per your
                                    comfort. Mr. Rahane sir (PRO) is very helpful. He has showcased entire premises and
                                    explained how things work at center. Overall very nice and pleasing experience. I
                                    would recommend this center for anyone with respect to donation and help these kids.
                                </p>
                                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                </ul>
                            </div>

                            <div class="col-lg-4 d-none d-lg-block">

                                <h5 class="mb-3 names">
                                    Smita Kale <img src="/assets/g.png" width="20" alt=""> </h5>
                                <p class="">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    This ashram is good and personally take care of every child. They manage around 400
                                    or more kids in this place. Sector like education, sports, multi talented activities
                                    for all they provide proper training in this ashram. They also try to make a child
                                    independent in terms of earning once he lives the ashram. Since from many year we
                                    are supporting this ashram. All of you are requested to come forward and try giving
                                    all possible support from your end. Only feeding is not everything for the personal
                                    growth of the child, support them too in knowledge sharing, skill talent training
                                    etc....
                                </p>
                                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                    <li><i class="fas fa-star fa-sm"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Inner -->

            <!-- Controls -->
            <div class="d-flex justify-content-center mb-4">
                <button data-mdb-button-init class="carousel-control-prev position-relative" type="button"
                    data-mdb-target="#carouselMultiItemExample" data-mdb-slide="prev">
                    <span class="carousel-control-prev-icon text-body" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button data-mdb-button-init class="carousel-control-next position-relative" type="button"
                    data-mdb-target="#carouselMultiItemExample" data-mdb-slide="next">
                    <span class="carousel-control-next-icon text-body" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <br><br>
        <!-- Carousel wrapper -->
    </div>
</div>
<br>