<!-- <br>
<div class="main">
    <h1>Contact Us</h1>
</div>
<br> -->
<img width="100%" src="/assets/headerimage/New-sliderContact-.png" alt="">

<div class="container"> <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <br>
            <div class="card">
                <img src="/assets/contact/Mr. Shivlal Jadhav sir.jpg" alt="...">
            </div>
            <br>
            <div class="photo">
                <h5>Mr. Shivlal Jadhav</h5>
                <h6>Chairman</h6>
                <h6>9325500100 / 8007378008</h6>
            </div>
            <br><br>
        </div>
        <br>
        <div class="col-md-4">
            <br>
            <div class="card">
                <img src="/assets/contact/Mr. Ganesh Rahane.jpg" alt="contact">
            </div>
            <br>
            <div class="photo">
                <h5>Mr. Ganesh Rahane</h5>
                <h6>Public Relation
                    Officer</h6>
                <h6>9372466612</h6>
            </div>
            <br>
        </div>
        <div class="col-md-2"></div>
    </div>

    <br> <br><br>
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <i class="fa-solid fa-user-tie fa-2xl"></i>
                    </div>
                </div>
            </div>
            <br>
            <div class="photo">
                <h5>Mr. Jitendra Sonawane</h5>
                <h6>Secondary Hermitage School
                    Principal</h6>
                <h6>9923191921</h6>
            </div>
            <br>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <i class="fa-solid fa-user-tie fa-2xl"></i>
                    </div>
                </div>
            </div>
            <br>
            <div class="photo">
                <h5>Mr. Ratanlal Jadhav</h5>
                <h6>Prathmik Ashram Shala</h6>
                <h6>9860119861</h6>
            </div>
        </div>
        <br>

        <div class="col-md-2"></div>
    </div>

    <br><br> <br>



</div>
<br><br>
<div class="ssocial">
    <div class="container">
        <div class="text-center">
            <p class="whytext">Our Social Media</p>
        </div> <br>
        <div class="row">
            <div class="col-md-6">
                <div class=" social">
                    <div class="card-body">
                        <div class="fb-page"
     data-href="https://www.facebook.com/bvjsswagholipune"
     data-tabs="timeline"
     data-width="600"
     data-height="520"
     data-small-header="false"
     data-adapt-container-width="true"
     data-hide-cover="false"
     data-show-facepile="true">
</div>           
                        <!-- <iframe
                            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fbvjss.org&tabs=timeline&width=600&height=620&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                            width="600" height="620" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowfullscreen="true" title="social media pages facebook"
                            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class=" social">
                    <div class="card-body">
                        <iframe class="instagram-media instagram-media-rendered" id="instagram-embed-0" src="https://www.instagram.com/bvjss_org/embed/?cr=1&amp;v=12&amp;wp=617&amp;rd=https%3A%2F%2Fbvjss.org&amp;rp=%2F#%7B%22ci%22%3A0%2C%22os%22%3A1006.7000000029802%2C%22ls%22%3A846.2000000029802%2C%22le%22%3A848.8999999985099%7D" allowtransparency="true" allowfullscreen="true" frameborder="0" height="488" data-instgrm-payload-id="instagram-media-payload-0" scrolling="no" style="background: white; max-width: 100%; width: 99.375%; border-radius: 3px; border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px;"></iframe>
                        <!-- <blockquote class="instagram-media"
                            data-instgrm-permalink="https://www.instagram.com/bvjss_org/" data-instgrm-version="12"
                            title="social media pages instagram"
                            style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin:1px; max-width:100%; min-width:100%; padding:0; width:99.375%;">
                        </blockquote> -->
                    </div>
                    <!-- <div class="card-body">
                        <blockquote class="instagram-media"
                            data-instgrm-permalink="https://www.instagram.com/bvjss_org/" data-instgrm-version="12"
                            title="social media pages instagram"
                            style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin:1px; max-width:100%; min-width:100%; padding:0; width:99.375%;">
                        </blockquote>
                    </div> -->
                </div>
            </div>
        </div>

        <br><br>
    </div>
</div>