<div class="container">
    <h1 style="text-align: center;  color: #25392a; font-weight: 600;">Latest Updates</h1>
    <br>

    <button type="button" class="btn btn-success btn-lg">
        <b>Year 2026 Updates</b>
    </button>
    <!-- Button trigger modal -->
    <button style="margin-left: 5%;" type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal"
        title="Click to View 2025 Updates">
        <b>Year 2025 Updates</b>
    </button>
    <br><br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <br>
                            <div class="row">
                                <br><br>
                                <div class="col-lg-12 col-md-12">
                                    <div class="card1">
                                        <div>
                                            <img src="/assets/republicday/5.jpeg" width="100%"
                                                alt="Latest Update Images"> <br>
                                        </div>
                                    </div> <br>
                                </div> <br>
                            </div>
                        </div>
                        <div class="col-md-7"> <br>
                            <div class="container">
                                <div class="row">
                                    <p>
                                        Republic Day Celebrated with Great Enthusiasm at Bhatkya Vimukt Jati Shikshan
                                        Sanstha,
                                        Flag Hoisting in the Presence of Distinguished Guests
                                        <br>
                                        At the primary and secondary Ashram School run by theBhatkya Vimukt Jati
                                        Shikshan
                                        Sanstha,
                                        Wagholi (Pune), the 77th Republic Day of India was celebrated with great
                                        enthusiasm
                                        on 26th January. On this occasion, the national flag was hoisted by the esteemed
                                        guest
                                        Shri
                                        Fatechandji Ranka.
                                        <br>
                                        Distinguished guests present for the program included Chandrakant Lodha (social
                                        worker),
                                        Captain
                                        Shriram Kadam (entrepreneur), Shantaram Bapu Katke (Deputy Sarpanch, Wagholi),
                                        Jayprakash Satav
                                        (Gram Panchayat Member, Wagholi), Mrs. Minakaki Satav (social worker, Wagholi),
                                        Sunil
                                        Lodha
                                        (social worker), Jagnathrao Veddi, Avijit Karamkar (Nihilent Company), Mayank
                                        Vijayvargi, and
                                        Manoj Khobre (EATON), among others.
                                    </p> <br>


                                </div>
                            </div>
                            <br><br>
                        </div>
                        <br><br>
                    </div>
                </div>
            </div>
            <br>
        </div><br>

        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <br>
                            <div class="row">
                                <br><br>
                                <div class="col-lg-12 col-md-12">
                                    <div class="card1">
                                        <div>
                                            <img src="/assets/newpunespots/s4.jpeg" width="100%"
                                                alt="Latest Update Images"> <br>
                                        </div>
                                    </div> <br>
                                </div> <br>
                            </div>
                        </div>
                        <div class="col-md-7"> <br>
                            <div class="container">
                                <div class="row">
                                    <p>
                                        Residential School for Intellectually Disabled Children, Pabal - Runners-Up
                                        <br>
                                        Pune, January 22, 2026 -The Shrimati Sindhutai Joshi Limited-Overs Cricket
                                        Tournament,
                                        organized by Kamayani Pratishthan and Research Centre, Pune, was recently held
                                        with great
                                        enthusiasm.

                                        In this tournament, the team from the Residential School for Intellectually
                                        Disabled Children,
                                        Pabal, run by BVJSS, Mundhwa, Pune, Taluka
                                        Shirur, District Pune, delivered an outstanding performance and secured the
                                        runners-up position.

                                        <br>

                                        During the competition, the students showcased disciplined play, strong team
                                        spirit, and
                                        impressive sporting skills.

                                    </p> <br>

                                </div>
                            </div>
                            <br><br>
                        </div>
                        <br><br>
                    </div>
                </div>
            </div>
            <br>
        </div><br>


        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <br>
                            <div class="row">
                                <br><br>
                                <div class="col-lg-12 col-md-12">
                                    <div class="card1">
                                        <div>
                                            <img src="/assets/newpunespots/distictlevel.jpg" width="100%"
                                                alt="Latest Update Images"> <br>
                                        </div>
                                    </div> <br>
                                </div> <br>
                            </div>
                        </div>
                        <div class="col-md-7"> <br>
                            <div class="container">
                                <div class="row">
                                    <p>
                                        In the District-Level Divyang School Sports Competition 2025–26, the Residential
                                        School for
                                        Intellectually Disabled
                                        Children at Pabal emerged as the runners-up.
                                        <br>
                                        In the District-Level Divyang School Sports Competition for the year 2025–26,
                                        the Residential
                                        School for Intellectually Disabled Children, Pabal,
                                        Taluka Shirur, District Pune,
                                        delivered a highly remarkable and commendable performance by securing the
                                        runners-up position in
                                        the category for Intellectually Disabled students.
                                    </p> <br>

                                </div>
                            </div>
                            <br><br>
                        </div>
                        <br><br>
                    </div>
                </div>
            </div>
            <br>
        </div><br>

    </div>


    <br><br>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-fullscreen-xxl-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title " id="exampleModalLabel" style="text-align: center;">2025 Updates</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">

                        <div class="row">

                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <br>
                                                <div class="row">
                                                    <br><br>
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="card1">
                                                            <div>
                                                                <img src="/assets/gallery/mathsday/91.jpg" width="100%"
                                                                    alt="Latest Update Images"> <br>
                                                            </div>
                                                        </div> <br>
                                                    </div> <br>
                                                </div>
                                            </div>
                                            <div class="col-md-7"> <br>
                                                <div class="container">
                                                    <div class="row">
                                                        <p>The 13th Mathematics Exhibition Concludes Enthusiastically in
                                                            BVJSS
                                                            Wagholi (Pune).
                                                            <br> As per tradition, the 13th Mathematics Exhibition,
                                                            organized on the
                                                            occasion of National
                                                            Mathematics Day and in memory
                                                            of Late Motilal Jadhav (Pintudada), was held with great
                                                            enthusiasm at the
                                                            BVJSS,Wagholi. The
                                                            exhibition was
                                                            inaugurated by Mr. Nagaraj Shinde, Consultant at Microsoft,
                                                            while Mr. Milind
                                                            Jadhav,
                                                            Vice President of the institution, was present as the chief
                                                            guest.
                                                        </p> <br>
                                                    </div>
                                                </div>
                                                <br><br>
                                            </div>
                                            <br><br>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div><br>



                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <br>
                                                <div class="row">
                                                    <br><br>
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="card1">
                                                            <div>
                                                                <img src="/assets/newpunespots/16.jpg" width="100%"
                                                                    alt="Latest Update Images"> <br>
                                                            </div>
                                                        </div> <br>
                                                    </div> <br>
                                                </div>
                                            </div>
                                            <div class="col-md-7"> <br>
                                                <div class="container">
                                                    <div class="row">
                                                        <p>On 16th December 2025, the “Sports for Unique” Athletics
                                                            Competition was
                                                            successfully conducted
                                                            with great enthusiasm at Balkalyan Sanstha, Pune.
                                                            <br> In this competition, the students of the Residential
                                                            School
                                                            for
                                                            intellectually Challenged
                                                            Children, Pabal (Taluka Shirur), run by
                                                            Bhatkya Vimukta Jati Shikshan Sanstha, Mundhwa (Pune),
                                                            achieved
                                                            remarkable
                                                            success.
                                                            The students from the school delivered an outstanding
                                                            performance by winning a
                                                            total of 9
                                                            medals, including 5 Gold, 3 Silver, and 1 Bronze,
                                                            thereby bringing great pride and honor to the school.
                                                        </p> <br>
                                                    </div>
                                                </div>
                                                <br><br>
                                            </div>
                                            <br><br>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div><br>

                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <br>
                                                <div class="row">
                                                    <br><br>
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="card1">
                                                            <div>
                                                                <img src="/assets/spots/1.jpg" width="100%"
                                                                    alt="Latest Update Images"> <br>
                                                            </div>
                                                        </div> <br>
                                                    </div> <br>
                                                </div>
                                            </div>
                                            <div class="col-md-7"> <br>
                                                <div class="container">
                                                    <div class="row">
                                                        <p>From 16/12/2025 to 18/12/2025, a three-day School Winter
                                                            Sports
                                                            Competition was
                                                            organized. <br>
                                                            On Tuesday, 16/12/2025,
                                                            at the Primary Ashram School, Wagholi,
                                                            the Winter Sports Competition was inaugurated by Mr. Ganesh
                                                            Rahane Sir, Manager
                                                            of Bha. Vi. Ja.
                                                            Education Society,
                                                            in the presence of Headmaster Mr. Jagtap Sir, Mr. Shalke
                                                            Sir,
                                                            Mr. Lakade Sir,
                                                            Mrs. Ahire Madam,
                                                            More Madam, and Mr. Rathod Sir.</p> <br>
                                                    </div>
                                                </div>
                                                <br><br>
                                            </div>
                                            <br><br>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div><br>


                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <br>
                                                <div class="row">
                                                    <br><br>
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="card1">
                                                            <div>
                                                                <img src="/assets/gallery/pabal/d1.jpg" width="100%"
                                                                    alt="Latest Update Images"> <br>
                                                            </div>
                                                        </div> <br>
                                                    </div> <br>
                                                </div>
                                            </div>
                                            <div class="col-md-7"> <br>
                                                <div class="container">
                                                    <div class="row">
                                                        <p>भटक्या विमुक्त जाती शिक्षण संस्था, मतिमंद मुलांची निवासी
                                                            शाळा,
                                                            पाबळ, ता. शिरूर,
                                                            जि. पुणे येथे
                                                            जागतिक अपंग दिनानिमित्त जनजागृती प्रभात फेरीचे आयोजन.</p>
                                                        <br>
                                                    </div>
                                                </div>
                                                <br><br>
                                            </div>
                                            <br><br>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div><br>

                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <br>
                                                <div class="row">
                                                    <br><br>
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="card1">
                                                            <div>
                                                                <img src="/assets/donatethings/dec3.jpg" width="100%"
                                                                    alt="Latest Update Images"> <br>
                                                            </div>
                                                        </div> <br>
                                                    </div> <br>
                                                </div>
                                            </div>
                                            <div class="col-md-7"> <br>
                                                <div class="container">
                                                    <div class="row">
                                                        <p>Volunteer Engagement Activity and stationary and educational
                                                            materials
                                                            distribution by Axis Max
                                                            Life insurance and Humans of volunteering.</p> <br>
                                                    </div>
                                                </div>
                                                <br><br>
                                            </div>
                                            <br><br>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div><br>


                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <br>
                                                <div class="row">
                                                    <br><br>
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="card1">
                                                            <div>
                                                                <img src="/assets/gallery/pabal/dec4L.jpg" width="100%"
                                                                    alt="Latest Update Images"> <br>
                                                            </div>
                                                        </div> <br>
                                                    </div> <br>
                                                </div>
                                            </div>
                                            <div class="col-md-7"> <br>
                                                <div class="container">
                                                    <div class="row">
                                                        <p>At the residential school for intellectually disabled
                                                            children in
                                                            Pabal, a
                                                            demonstration of
                                                            lathi-kathi (traditional stick martial arts) was conducted
                                                            through the Veera
                                                            Ranangana
                                                            Educational and Sports Organization, and the children were
                                                            trained in it.</p>
                                                        <br>
                                                    </div>
                                                </div>
                                                <br><br>
                                            </div>
                                            <br><br>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div><br>


                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <br>
                                                <div class="row">
                                                    <br><br>
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="card1">
                                                            <div>
                                                                <img src="/assets/chidrenday/1.jpeg" width="100%"
                                                                    alt="Latest Update Images"> <br>
                                                            </div>
                                                        </div> <br>
                                                    </div> <br>
                                                </div>
                                            </div>
                                            <div class="col-md-7"> <br>
                                                <div class="container">
                                                    <div class="row">
                                                        <p>बालदिनानिमित्त Feeding India–Zomato तर्फे BVJSS मध्ये आनंदाचा
                                                            वर्षाव ,भटक्या
                                                            विमुक्त जाती शिक्षण
                                                            संस्थेत १४ नोव्हेंबर रोजी बालदिन उत्साहात साजरा करण्यात आला.
                                                        </p>
                                                    </div>
                                                </div>
                                                <br><br>
                                            </div>
                                            <br><br>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div><br>

                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <br>
                                                <div class="row">
                                                    <br><br>
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="card1">
                                                            <div>
                                                                <img src="/assets/chidrenday/151.jpeg" width="100%"
                                                                    alt="Latest Update Images"> <br>
                                                            </div>
                                                        </div> <br>
                                                    </div> <br>
                                                </div>
                                            </div>
                                            <div class="col-md-7"> <br>
                                                <div class="container">
                                                    <div class="row">
                                                        <p>खासदार क्रीडा महोत्सव बाबुराव सणस मैदान येथे झालेल्या धावणे
                                                            स्पर्धेमध्ये मतिमंद
                                                            मुलांची निवासी
                                                            शाळा पाबळ,
                                                            ता. शिरूर, जि. पुणे, येथील विदयार्थी सुयश घुले याने 50 मीटर
                                                            प्रथम व 100 मीटर
                                                            द्वितीय क्रमांक
                                                            पटकावला. </p> <br>
                                                    </div>
                                                </div>
                                                <br><br>
                                            </div>
                                            <br><br>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div><br>

                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <br>
                                                <div class="row">
                                                    <br><br>
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="card1">
                                                            <div>
                                                                <img src="/assets/chidrenday/153.jpeg" width="100%"
                                                                    alt="Latest Update Images"> <br>
                                                            </div>
                                                        </div> <br>
                                                    </div> <br>
                                                </div>
                                            </div>
                                            <div class="col-md-7"> <br>
                                                <div class="container">
                                                    <div class="row">
                                                        <p>भटक्या विमुक्त जाती शिक्षण संस्थेत १४ नोव्हेंबर रोजी बालदिन
                                                            उत्साहात साजरा
                                                            करण्यात आला. स्वाभिमान
                                                            संस्थेच्या सहयोगाने आयोजित या कार्यक्रमात जवळपास ३५०
                                                            विद्यार्थ्यांनी उत्स्फूर्त
                                                            सहभाग नोंदवला.
                                                            विविध उपक्रम, स्पर्धा आणि सांस्कृतिक कार्यक्रमांनी संपूर्ण
                                                            परिसरात आनंदमय
                                                            वातावरण निर्माण केले.
                                                        </p> <br>
                                                    </div>
                                                </div>
                                                <br><br>
                                            </div>
                                            <br><br>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div><br>

                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <br>
                                                <div class="row">
                                                    <br><br>
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="card1">
                                                            <div>
                                                                <img src="/assets/donatethings/1.jpg" width="100%"
                                                                    alt="Latest Update Images"> <br>
                                                            </div>
                                                        </div> <br>
                                                    </div> <br>
                                                </div>
                                            </div>
                                            <div class="col-md-7"> <br>
                                                <div class="container">
                                                    <div class="row">
                                                        <p>Date 14-10-2025, Orientation visit Done by Students of Euro
                                                            School, Kharadi,Pune.
                                                        </p>
                                                    </div>
                                                </div>
                                                <br><br>
                                            </div>
                                            <br><br>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div><br>


                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <br>
                                                <div class="row">
                                                    <br><br>
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="card1">
                                                            <div>
                                                                <img src="/assets/gallery/new/13.jpeg" width="100%"
                                                                    alt="Latest Update Images"> <br>
                                                            </div>
                                                        </div> <br>
                                                    </div> <br>
                                                </div>
                                            </div>
                                            <div class="col-md-7"> <br>
                                                <div class="container">
                                                    <div class="row">
                                                        <p>
                                                            श्री.आदित्य घुले, उद्योजक श्री.नवलजी घुले पाटील यांची
                                                            संस्थेला
                                                            सदिच्छा भेट.
                                                            यावेळी नविन
                                                            बसवलेल्या Digital CCTV कॅमेरा युनिट चे उद्घाटन करण्यात आले.
                                                        </p>
                                                    </div>
                                                </div>
                                                <br><br>
                                            </div>
                                            <br><br>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div><br>


                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <br>
                                                <div class="row">
                                                    <br><br>
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="card1">
                                                            <div>
                                                                <img src="/assets/gallery/ukg/1.jpeg" width="100%"
                                                                    alt="Latest Update Images"> <br>
                                                            </div>
                                                        </div> <br>
                                                    </div> <br>
                                                </div>
                                            </div>
                                            <div class="col-md-7"> <br>
                                                <div class="container">
                                                    <div class="row">
                                                        <p> दिनांक ०७ ऑक्टोबर २०२५ रोजी UKG कंपनीच्या वतीने एक सामाजिक
                                                            उत्तरदायित्व (CSR)
                                                            उपक्रम आयोजित
                                                            करण्यात आला.</p>
                                                    </div>
                                                </div>
                                                <br><br>
                                            </div>
                                            <br><br>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div><br>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>