<div class="main2">
    <br>
    <div class="container">
        <h4>WE NEED YOUR HELP TO HELP OTHERS!</h4><br>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="ratio ratio-16x9">
                            <!-- <iframe src="https://www.youtube.com/embed/Wxx0FfQTRzQ" title="YouTube video"
                                allowfullscreen></iframe> -->

                            <iframe src="https://www.youtube.com/embed/l1J0-Y19xqI?si=v-KLBb3_8I8BRUjO"
                                title="YouTube video player" allowfullscreen></iframe>

                        </div>
                    </div>
                </div>
                <br>
            </div>
            <br>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="ratio ratio-16x9">
                            <!-- <iframe src="https://www.youtube.com/embed/BGz2h64OF-8" title="YouTube video"
                                allowfullscreen></iframe> -->

                            <iframe src="https://www.youtube.com/embed/tZg4TVgoKoA?si=badGDoHW4377Gvwh"
                                title="YouTube video player" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <br>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="ratio ratio-16x9">
                            <!-- <iframe src="https://www.youtube.com/embed/BGz2h64OF-8" title="YouTube video"
                                allowfullscreen></iframe> -->
                            <video controls autoplay loop oncanplay="this.play()" onloadedmetadata="this.muted = true">
                                <!-- <source src="/assets/gallery/video/yoga.mp4" type="video/mp4"> -->
                                <!-- <source src="/assets/gallery/video/bvjss.mp4" type="video/mp4"> -->
                                <!-- <source src="/assets/gallery/video/new.mp4" type="video/mp4"> -->
                                <!-- <source src="/assets/gallery/pabal/video/Prabhatpheri.mp4" type="video/mp4"> -->
                                <!-- <source src="/assets/gallery/video/SPortsday.mp4" type="video/mp4"> -->
                                <source src="/assets/gallery/video/mathsday.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
                <br>
            </div>

            <br>
        </div>
    </div>
    <br>
</div>

<div class="main">
    <div class="container-fluid">
        <div class="row" style="padding: 4%;padding-bottom: 0%;">
            <div class="col-md-3">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3781.6349264921246!2d74.01069237599364!3d18.59049056703321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2db60059add97%3A0x1b0b04119203933c!2sBVJSS%20-%20Bhatkya%20Vimukta%20Jati%20Shikshan%20Sanstha!5e0!3m2!1sen!2sin!4v1692361786736!5m2!1sen!2sin"
                    width="100%" height="80%" style="border:0;" allowfullscreen="" loading="lazy" title="myFrame"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-md-3">
                <p class="pa"> Address : <br>1.Wagholi <br> Near Radheshwari Nagari, Bakori Phata, Wagholi, Haveli,
                    Pune,
                    Maharashtra
                    412207</p>
                <p class="pa">2.Pabal <br> Residential School for Divyang Students, Pabal, Maharashtra 412403 </p>
            </div>

            <div class="col-md-3">
                <div class="div">
                    <!-- <ul style="list-style: none;color: white; font-size: large;">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#" [routerLink]="['/']"
                                (click)="scroll()">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" [routerLink]="['/Aboutus']" (click)="scroll()">About BVJSS</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#" [routerLink]="['/mediacoverage']" (click)="scroll()">Media
                                Coverage</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#" [routerLink]="['/gallery']" (click)="scroll()">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" [routerLink]="['/howhelp']" (click)="scroll()">Donate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" [routerLink]="['/history']" (click)="scroll()"> History</a>
                        </li>
                    </ul> -->

                    <ul style="list-style: none;color: white; font-size: large;">

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#" [routerLink]="['/']"
                                (click)="scroll()">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#" [routerLink]="['/Aboutus']" (click)="scroll()">About</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#" [routerLink]="['/PabalSchool']" (click)="scroll()">Pabal School
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#" [routerLink]="['/howhelp']" (click)="scroll()">Donate</a>
                        </li>
                        <!-- 
                        <li class="nav-item">
                            <a class="nav-link" href="#" [routerLink]="['/blogs']" (click)="scroll()">Blogs </a>
                        </li> -->


                        <li class="nav-item">
                            <a class="nav-link" href="#" [routerLink]="['/Feedback']" (click)="scroll()">Feedback</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#" [routerLink]="['/contact']" (click)="scroll()">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" [routerLink]="['/TermsConditions']" (click)="scroll()">Terms &
                                Condition </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#" [routerLink]="['/RefundPolicy']" (click)="scroll()">Return &
                                Refund Policy</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <p class="pa">Phone No : <br>
                    +91 9372466612 <br>
                    +91 9156711635
                </p>

                <ul style="list-style: none; display: flex; margin-left: -10%;">
                    <li class="list"> <a style="color: white;" href="https://www.facebook.com/bvjss.org/"
                            target="_blank" aria-label="Read more about "><i class="fa-brands fa-facebook">
                            </i> </a> </li>
                    <li class="list"> <a style="color: white;"
                            href="https://instagram.com/bvjss_org?igshid=MWZjMTM20DFkZg==" target="_blank"
                            aria-label="Read more about"><i class="fa-brands fa-instagram"> </i> </a>
                    </li>
                    <li class="list"> <a style="color: white;" href="" target="_blank" aria-label="Read more about "><i
                                class="fa-brands fa-linkedin-in"></i> </a>
                    </li>
                    <li class="list"> <a style="color: white;" href="#" aria-label="Read more about "><i
                                class="fa-brands fa-youtube"> </i> </a>
                    </li>
                </ul>
                <br>
                <p class="powered">Powered By : <span><a href="https://fourthdm.com" target="_blank"><img class="img "
                                src="/assets/4thdmlogo.png" alt="" aria-label="Read more about "></a></span> </p>
            </div>

        </div>
        <hr>

        <!-- <div class="bg-image">
            <img src="/assets/footer_bg.png" class="img-fluid" alt="Sample" width="100%" />

            <div class="d-flex justify-content-center align-items-center h-100 ">
                <p class="text-black mb-0" style="margin-top: -1.5%;"> Copyright © 2016 BVJSS | Bhatkya Vimukt Jati
                    Shikshan Sanstha.All Rights Reserved.</p>
            </div>

        </div> -->

        <div class="text-center" style="color: white;">
            Copyright © 2016 BVJSS | Bhatkya Vimukt Jati Shikshan Sanstha.All Rights Reserved.
            <!-- <a class="text-reset fw-bold" href="https://flymit.com/" aria-label="Read more about"
                target="_blank">flymit.com</a> -->
        </div>
        <!-- <img src="/assets/footer_bg.png" alt="" width="100%"> -->
        <!-- <div class="copyrights">
            <p>Copyright &copy; 2016 BVJSS | Bhatkya Vimukt Jati Shikshan Sanstha.All Rights Reserved.</p>
            <p class="flim"><a href="" target="_blank" style="color: white;">flymit.com</a></p>
        </div> -->
    </div>
</div>