<br>
<img width="100%" src="/assets/headerimage/5.png" alt="">
<br><br>
<div class="container-fluid">
    <!-- Carousel wrapper -->
    <div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-indicators">
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="3"
                aria-label="Slide 4"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="4"
                aria-label="Slide 5"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="5"
                aria-label="Slide 6"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="6"
                aria-label="Slide 7"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="7"
                aria-label="Slide 8"></button>
        </div>

        <!-- Inner -->
        <div class="carousel-inner">
            <!-- Single item -->
            <div class="carousel-item active">
                <!-- <img src="/assets/slide/1st.png" class="d-block w-100 img" alt="Sunset Over the City" /> -->
                <img src="/assets/slide/1.jpg" class="d-block w-100 img" alt="Sunset Over the City" />

            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <!-- <img src="/assets/slide/2nd.png" class="d-block w-100 img" alt="Canyon at Nigh" /> -->
                <img src="/assets/slide/2.jpg" class="d-block w-100 img" alt="Sunset Over the City" />
            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <img src="/assets/slide/3.jpg" class="d-block w-100 img" alt="Sunset Over the City" />
                <!-- <img src="/assets/slide/3rd.png" class="d-block w-100 img" alt="Cliff Above a Stormy Sea" /> -->               
            </div>
            <!-- Single item -->
            <div class="carousel-item">
                <img src="/assets/slide/4.jpg" class="d-block w-100 img" alt="Sunset Over the City" />
                <!-- <img src="/assets/slide/3rd.png" class="d-block w-100 img" alt="Cliff Above a Stormy Sea" /> -->               
            </div>
            <!-- Single item -->
            <div class="carousel-item">
                <img src="/assets/slide/5.jpg" class="d-block w-100 img" alt="Sunset Over the City" />
                <!-- <img src="/assets/slide/3rd.png" class="d-block w-100 img" alt="Cliff Above a Stormy Sea" /> -->               
            </div>
            <!-- Single item -->
            <div class="carousel-item">
                <img src="/assets/slide/1st.png" class="d-block w-100 img" alt="Cliff Above a Stormy Sea" />               
            </div>
            <!-- Single item -->
            <div class="carousel-item">
                <img src="/assets/slide/2nd.png" class="d-block w-100 img" alt="Cliff Above a Stormy Sea" />               
            </div>
            <!-- Single item -->
            <div class="carousel-item">
                <img src="/assets/slide/3rd.png" class="d-block w-100 img" alt="Cliff Above a Stormy Sea" />               
            </div>
        </div>
        <!-- Inner -->

        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample"
            data-mdb-slide="prev">
            <span class="carousel-control-prev" aria-hidden="true"><i class="fas fa-circle-chevron-left fa-3x"
                    aria-hidden="true"></i></span>
            <!-- <i class="fas fa-circle-chevron-left fa-3x" aria-hidden="true"></i> -->
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample"
            data-mdb-slide="next">
            <span class="carousel-control-next " aria-hidden="true"><i class="fas fa-circle-chevron-right fa-3x"
                    aria-hidden="true"></i></span>
            <!-- <i class="fas fa-circle-chevron-right fa-3x" aria-hidden="true"></i> -->
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- Carousel wrapper -->
</div>
<br>