<!-- 
<div class="main">
    <h1>Initiatives</h1>
</div> -->

<img width="100%" src="/assets/headerimage/3.png" alt="">

<div class="container"> <br><br>
    <div class="row">
        <p style="text-align: justify;">माता पिता के प्यार का साया जिन्हे मिला नही है, जो अनाथ है, गुंगे बहिरे है,
            निराधार तथा निराश्रित है, ऐसे
            बच्चों कि पढाई, भोजन तथा निवास कि मुफ्त मे सुविधा हमारी संस्था १९८७ से कर राही है| <br> <br>
            इन सब बच्चों कि उमर १८ होणे के बाद इनके सामने जो सबसे बडा सवाल तैयार होता है, वो है कि अब आगे क्या करें?
            उनके पास उपजीविका का कोई भी साधन नही रहता| जबकी वो किसी कंपनी मी जॉब के लिये आवेदन भी करते है, मगर उनका
            इतिहास देखकर जॉब मिलने को परेशानी जरूर होती है|
            <br> <br>
            इस बच्चों कि शिक्षा और देश कि जरुरत देखकर, हमारी संस्था ने इन बच्चों के लिये उपजीविका का साधन तैयार करने
            हेतू ये उपक्रम शुरू किया है, जिसमे बकरीपालन, मुर्गी पालन, गायपालन, बदकपालन, हायड्रोपोनिक (कम पाणी में चारा
            बनाने का तंत्रज्ञान) आदी का समावेश है|
        </p>
       
        <p>इस काम के लिये मदत करणे हेतू कई विद्यापीठ भी आगे आये है| जिसमे सातारा का क्रांतिसिंह नाना पाटील कॉलेज, शिरोल
            गाव का शेतकी कॉलेज ने ट्रेनिंग कि जिम्मेदारी ली है | <br> <br>
            ट्रेनिंग में हिस्सा लेणे वाले बच्चों को सरकार के द्वारा प्रमाणपत्र भी दिया जायेगा तथा व्यवसाय शुरू करणे के
            लिये बँक लोन के लिये भी सहायता बच्चों को कि जायेगी|</p>
    </div>
    <br>
</div>