.main {
    background-color: #526756;
    color: white;
    text-align: center;
}

.main h1 {
    padding: 2%;
}

h3 {
    text-align: center;
}

a {
    color: black;
    text-align: center;
}

img {
    width: 100%;
}
