<!-- <div class="main">
    <h1>Blog</h1>
</div> -->
<img style="width: 100%;" src="/assets/headerimage/8.png" alt="">
<div class="container">
    <br><br>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <img src="/assets/blogsimg/Mr. Naval Ghule_New.jpg" alt="image">
                <button class="btn btn-success btn-sm" [routerLink]="['/blog/blog1']" (click)="scroll()">Read
                    More</button>
            </div><br>
        </div><br>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <img src="/assets/blogsimg/Mr. Naval Ghule_New.jpg" alt="image">
                <button class="btn btn-success btn-sm" [routerLink]="['/blog/blog2']" (click)="scroll()">Read
                    More</button>
            </div><br>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <img src="/assets/blogsimg/Mr. Naval Ghule_New.jpg" alt="image">

                <button class="btn btn-success btn-sm" [routerLink]="['/blog/blog3']" (click)="scroll()">Read
                    More</button>
            </div><br>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <img src="/assets/blogsimg/Mr. Naval Ghule_New.jpg" alt="image">
                <button class="btn btn-success btn-sm" [routerLink]="['/blog/blog4']" (click)="scroll()">Read
                    More</button>
            </div> <br>
        </div>
        <!-- <div class="col-lg-3 col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="" alt="image">
                    <a href=""  (click)="scroll()" [routerLink]="['/blog/blog5']">
                        <h5>Blog</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="" alt="image">
                    <a href=""  (click)="scroll()" [routerLink]="['/blog/blog3']">
                        <h5>Blog</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="" alt="image">
                    <a href=""  (click)="scroll()" [routerLink]="['/blog/blog2']">
                        <h5>Blog</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="card">
                <div class="card-body">
                    <img src="" alt="image">
                    <a href="" (click)="scroll()" [routerLink]="['/blog/blog1']">
                        <h5>Blog</h5>
                    </a>
                </div>
            </div>
        </div> -->
    </div>
    <!-- <div class="row"><br>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="card">
                <h3>Marathi Version</h3> <br>
                <embed height="550" src="/assets/pdf/Father of Orphan_Marathi.pdf" type="">
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <h3>English Version</h3> <br>
                <embed height="550" src="/assets/pdf/Father of Orphan -English Version.pdf" type="">
            </div>
        </div>
        <div class="col-md-2"></div>
    </div> -->
    <br>
</div>